{% extends 'index.html' %}
{% block titulo %}
Principal
{% endblock %}
{% block encabezado %}
Principal
{% endblock %}
{% block ruta %}
Principal
{% endblock %}
{% block contenido %}
{% load static %}
<link href="{% static 'packages/core/main.css'%}" rel='stylesheet' />
<link href="{% static 'packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static '/packages/timegrid/main.css'%}" rel='stylesheet' />
<link href="{% static '/packages/list/main.css'%}" rel='stylesheet' />
<script src="{% static '/packages/core/main.js'%}"></script>
<script src="{% static '/packages/interaction/main.js'%}"></script>
<script src="{% static '/packages/daygrid/main.js'%}"></script>
<script src="{% static '/packages/timegrid/main.js'%}"></script>
<script src="{% static '/packages/list/main.js'%}"></script>
<script src="{% static '/packages/list/main.js'%}"></script>
<script src="{% static 'js/funciones/calendario.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', crearCalendario);
</script>
<div id='calendarNuevo'>
</div>
{% load static %}
{% endblock %}
{% block scripts %}
{% endblock %}