{% extends 'index2.html' %}
{% block titulo %}
{{ accion }}ColonoDomicilio
{% endblock %}
{% block encabezado %}
{{ accion }}ColonoDomicilio
{% endblock %}
{% block ruta %}
<a href="#">ColonoDomicilio</a>
{% endblock %}
{% block contenido %}
<div class='panel'>
    <div class='panel-body'>
        <!--<div>
            <h1>{{ accion }} ColonoDomicilio</h1>
            <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true" style="width: 25%">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Operación exitosa</strong>
            </div>
            
            <button id="btn_nuevo" class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0">
                Nuevo
            </button>
            

            <div class="collapse" id="div_formulario">
                <div>
                    <div id="alerta"  class="alert alert-info">
                        <p>
                            Completa el formulario
                        </p>
                    </div>

                    <form id="form" method="POST" name="formulario">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <tbody>
                                    <tr>
                                        <th>
                                            <label for="id_colono">Colono:</label>
                                        </th>
                                        <th>
                                            <select name="colono" required="" id="id_colono">
                                            </select>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="id_domicilio">Domicilio:</label>
                                        </th>
                                        <th>
                                            <select name="domicilio" required="" id="id_domicilio">
                                            </select>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" >
                        Cerrar
                    </button>
                    <button id="btn_guardar" class="btn btn-success" aria-label="guardar" onclick="guardar()">
                        <label>Guardar</label>
                    </button>
                    <br>
                </div>
            </div>
        </div>-->
        <div>
            <table class='table'>
                <th width="50%">
                    <h1>ColonoDomicilios</h1>
                </th>
                <th>
                    <h4>Búsqueda</h4>
                    <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                </th>
            </table>
            <div class='table-responsive'>
                <table id='tabla' class='class_tabla table table-striped table-bordered table-hover'>
                    <thead>
                        <tr>
                            <th onclick="sortTable2(0)" style="cursor:pointer">Colono</th>
                            <th onclick="sortTable2(1)" style="cursor:pointer">Domicilio</th>
                        </tr>
                    </thead>
                    <tbody id="body-tabla">
                        {% for colonodomicilio in colonodomicilios %}
                        <tr id='info'>
                            <td>{{colonodomicilio.colono|default:''}}</td>
                            <td>{{colonodomicilio.domicilio|default:''}}</td>
                            <td>
                                <a id='change' href="javascript: cargarEdicionColonoDomicilio({{ colonodomicilio.id }})">
                                    Editar
                                </a>
                                <br>
                                <a id='delete' href='#myModal2' onclick="cargarEliminacionColonoDomicilio({{ colonodomicilio.id }})" class='a_eliminar' data-toggle='modal'>
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'> Confirmaci&oacute;n </h4>
            </div>
            <div class='modal-body'>
                Esta seguro de eliminar el elemento
            </div>
            <div class='modal-footer'>
                <button data-dismiss='modal' class='btn btn-secondary' type='button'>
                    No
                </button>
                <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-warning btn_si_eliminar' type='button'>
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input id="id_provicional" type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/colonoDomicilio.js"></script>
{% endblock %}