{% extends 'index2.html' %}
{% block titulo %}
{{ accion }} TipoDomicilio
{% endblock %}
{% block encabezado %}
{{ accion }} TipoDomicilio
{% endblock %}
{% block ruta %}
<a href="#">TipoDomicilio</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5">
        <div class="panel">
            <div class="panel-heading">
                Formulario
            </div>
            <div class="panel-body">
                <h1>{{ accion }} TipoDomicilio</h1>
                <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <nav class="navbar">
                    <button id="btn_nuevo" class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0" onclick="nuevo()">
                        Nuevo
                    </button>
                </nav>
                <div class="collapse"  id="div_formulario">
                    <div id="alerta" class="alert alert-info">
                        <label>
                            Completa el formulario
                        </label>
                    </div>
                    <form id="form" method='POST' name="formulario">
                        {% csrf_token %}
                        <div class='row'>
                            {% for field in formulario %}
                            <div class="col-4">{{ field.label_tag }}</div>
                            <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                            {% endfor %}
                        </div>
                    </form>
                    <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="cancelar()">
                        Cerrar
                    </button>
                    <button id="btn_guardar" class="btn btn-success" type="button" aria-label="guardar" onclick="guardar()">
                        <label>Guardar</label>
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-7">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <table class='table'>
                    <th width="50%">
                        <h1>TipoDomicilios</h1>
                    </th>
                    <th>
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </th>
                </table>
                <div class='table-responsive'>
                    <div id="alerta_exito2" class="alert alert-success" role="alert" hidden="true">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Operación exitosa</strong>
                    </div>
                    <table id='tabla' class='class_tabla table table-sm table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Descripcion</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Habitable</th>
                                <th> Opciones </th>
                            </tr>
                        </thead>
                        <tbody id="body_tabla">
                            {% for tipoDomicilio in tipodomicilios %}
                            <tr id='info'>
                                <td>{{tipoDomicilio.descripcion|default:''}}</td>
                                <td>
                                    {% if tipoDomicilio.habitable == 0 %}
                                    No
                                    {% else %}
                                    Si
                                    {% endif %}
                                </td>
                                <td>
                                    <a id='change-tipoDomicilio' class="btn btn-info btn-sm" data-toggle="tooltip" title="Editar" onclick="cargarEdicionTipoDomicilio({{ tipoDomicilio.id }})">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a id='delete-tipoDomicilio' href='#myModalDeleteTipoDomicilio' onclick="cargarEliminacionTipoDomicilio({{ tipoDomicilio.id }})" class='btn btn-danger btn-sm' title="Eliminar" data-toggle='modal'>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        <div class='modal fade' id='myModalDeleteTipoDomicilio' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
                            <div class='modal-dialog'>
                                <div class='modal-content'>
                                    <div class='modal-header'>
                                        <h4 class='modal-title'> Confirmaci&oacute;n </h4>
                                    </div>
                                    <div class='modal-body'>
                                        Esta seguro de eliminar el elemento
                                    </div>
                                    <div class='modal-footer'>
                                        <button data-dismiss='modal' class='btn btn-danger btn-sm' type='button'>
                                            No
                                        </button>
                                        <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-success btn_si_eliminar' type='button'>
                                            Si
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/tipoDomicilio.js"></script>
{% endblock %}