{% extends 'index2.html' %}
{% block titulo %}
{{ accion }}Domicilio
{% endblock %}
{% block encabezado %}
{{ accion }}Domicilio
{% endblock %}
{% block ruta %}
<a href="#">Domicilio</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} Domicilio</h1>
                <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <nav class="navbar">
                    <button id="btn_nuevo" class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="clickNuevo()" value="0">
                        Nuevo
                    </button>
                </nav>
                <div class="collapse" id="div_formulario">
                    <div id="alerta" class="alert alert-info">
                        <label>
                            Completa el formulario
                        </label>
                    </div>
                    <form id="form" method='POST' name="formulario">
                        {% csrf_token %}
                        <div class='row'>
                            {% for field in formulario %}
                            <div class="col-3" >{{ field.label_tag }}</div>
                            <div class="col-9 text-left" >{{ field }}</div>
                            <div class="col-12"><hr class="pm-1"></div>
                            {% endfor %}
                        </div>
                    </form>
                    <button id="btn_cancelar" class="btn btn-secondary" onclick="cancelar()" type="button" data-toggle="collapse" data-target="#div_formulario">
                        Cerrar
                    </button>
                    <button id="btn_guardar" class="btn btn-success" onclick="guardar()" aria-label="guardar">
                        <label>Guardar</label>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-7">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <table class='table'>
                    <th width="50%">
                        <h1>Domicilios</h1>
                    </th>
                    <th>
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </th>
                </table>
                <table class='table table-bordered'>
                    <tr>
                        {% for field in formFilter %}
                        <th>{{ field.label_tag }} <br> {{ field }}</th>
                        {% endfor %}
                        <th>
                            <button id="btn_filtrar" class="btn btn-success" type="submit" onclick="filtrar()">
                                Filtrar
                            </button>
                        </th>
                        <th>
                            <button id="btn_filtrar" class="btn btn-warning" type="submit" onclick="obtener10(1)">
                                Limpiar Filtro
                            </button>
                        </th>
                    </tr>
                </table>
                <div class='table-responsive'>
                    <table id='tabla' class='table table-sm table-striped table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Calle</th>
                                <th onclick="sortTable2(1)" style="cursor:pointer">Num</th>
                                <th onclick="sortTable2(2)" style="cursor:pointer">Tipo</th>
                                <th onclick="sortTable2(3)" style="cursor:pointer">Titular</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="body_tabla">
                            {% for domicilio in domicilios %}
                            <tr id='info'>
                                <td>{{domicilio.calle|default:''}}</td>
                                <td>{{domicilio.num_domicilio|default:''}}</td>
                                <td>{{domicilio.tipo_domicilio|default:''}}</td>
                                <td>{{domicilio.titular|default:''}}</td>
                                <td>
                                    <a id='change-domicilio' class="btn btn-info btn-sm" data-toggle="tooltip" title="Editar" onclick="cargarEdicionDomicilio({{ domicilio.id }})">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a id='delete-domicilio' data-target='#myModal2' onclick="cargarEliminacionDomicilio({{ domicilio.id }})" class='btn btn-danger  btn-sm' title="Eliminar" data-toggle='modal'>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-warning" onclick="obtenerTodos()">Todos</button>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end pagination-xs">
                            {% for i in totales %}
                            <li style="margin:0px; padding-left:2px" class="page-item" id='pagina{{ forloop.counter }}'><a style="margin:0px; padding:5px" class="page-link" onclick="obtener10({{ forloop.counter }})">{{ forloop.counter }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<a style="visibility: hidden;" id="btn_abrir_modal_espera" class="btn btn-warning" data-toggle="modal" href="#modalEspera">
    Confirm
</a>
<div class="modal fade" id="modalEspera" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
            </div>
            <div class="modal-body">
                Espera un momento estamos cargando la información
            </div>
            <div class="modal-footer">
                <button style="visibility: hidden;" data-dismiss="modal" id="btn_cerrar_modal_espera" class="btn btn-secondary" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'> Confirmaci&oacute;n </h4>
            </div>
            <div class='modal-body'>
                Esta seguro de eliminar el elemento
            </div>
            <div class='modal-footer'>
                <button data-dismiss='modal' class='btn btn-secondary' type='button'>
                    No
                </button>
                <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-warning btn_si_eliminar' type='button'>
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/domicilio.js"></script>
{% endblock %}