{% extends 'index2.html' %}
{% block titulo %}
{{ accion }}Ingreso
{% endblock %}
{% block encabezado %}
{{ accion }}Ingreso
{% endblock %}
{% block ruta %}
<a href="#">Ingreso</a>
{% endblock %}
{% block contenido %}
<div class='panel'>
    <div class="panel-heading">
        <ul class='nav nav-tabs'>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'nuevo_imagenIngresos' %}">Informe de Ingresos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'nuevo_imagenEgresos' %}">Informe de Egresos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'nuevo_imagenFinanciero' %}">Informe de financiero</a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <h1>{{ accion }} Ingreso</h1>
        <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true" style="width: 25%">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Operación exitosa</strong>
        </div>
        <div id="alerta" class="alert alert-info">
            <p>
                Completa el formulario
            </p>
        </div>
        <form id="form" method='POST' name="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            <div class='row'>
                {% for field in formulario %}
                <div class="col-2">{{ field.label_tag }}</div>
                <div class="col-10 text-left">{{ field }}</div>
                <div class="col-12"><hr class="pm-1"></div>
                {% endfor %}
            </div>
            <button id="btn_guardar" class="btn btn-success" type="submit" aria-label="guardar">
                <label>Guardar</label>
            </button>
        </form>
        <table id='tabla' width="100%" class="table">
            <tr>
                <th>Título</th>
                <th>Imagen</th>
            </tr>
            {% for dato in datos %}
            <tr>
                <td><a href="/media/{{ dato.foto }}">{{ dato.titulo }}</a></td>
                <td>
                    <p><object data="/media/{{ dato.foto }}" width="25%" height="300px" /></p>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}