{% extends 'index2.html' %}
{% block titulo %}
{{ accion }}Anuncio
{% endblock %}
{% block encabezado %}
{{ accion }}Anuncio
{% endblock %}
{% block ruta %}
<a href="#">Anuncio</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                {{ accion }} Anuncio
            </div>
            <div class='panel-body'>
                <h1>{{ accion }} Anuncio</h1>
                <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true" style="width: 25%">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div id="alerta_anuncio" class="alert alert-info">
                    <label>
                        Completa el formulario
                    </label>
                </div>
                <form id="form_anuncio" method='POST' name="formulario" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class='row'>
                        {% for field in formulario %}
                        <div class="col-2">{{ field.label_tag }}</div>
                        <div class="col-10 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                        {% endfor %}
                    </div>
                    <button id="btn_guardar_anuncio" class="btn btn-success" type="submit" aria-label="guardar">
                        <label>Guardar</label>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <div class='table-responsive'>
                    <table id='tabla_usuarios' width="100%" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Imagen</th>
                            </tr>
                        </thead>
                        </tbody>
                        {% for dato in datos %}
                        <tr>
                            <td><a href="/media/{{ dato.foto }}">{{ dato.titulo }}</a></td>
                            <td><img src="/media/{{ dato.foto }}" width="50%" height="25%"></td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}