{% extends 'index2.html' %}
{% block titulo %}
{{ accion }}Reunion
{% endblock %}
{% block encabezado %}
{{ accion }}Reunion
{% endblock %}
{% block ruta %}
<a href="#">Reunion</a>
{% endblock %}
{% block contenido %}
<div class='panel'>
    <div class='panel-body'>
        <h1>{{ accion }} Reunion</h1>
        <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true" style="width: 25%">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Operación exitosa</strong>
        </div>
        <div id="alerta_anuncio" class="alert alert-info">
            <p>
                Completa el formulario
            </p>
        </div>
        <form id="form_anuncio" method='POST' name="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            <div class='row'>
                {% for field in formulario %}
                <div class="col-2">{{ field.label_tag }}</div>
                <div class="col-10 text-left">{{ field }}</div>
                <div class="col-12"><hr class="pm-1"></div>
                {% endfor %}
            </div>
            <button id="btn_guardar_anuncio" class="btn btn-success" type="submit" aria-label="guardar">
                <label>Guardar</label>
            </button>
        </form>
        <br>
        <table id='tabla' width="100%" class="table">
            <tr>
                <th>documento</th>
                <th></th>
            </tr>
            {% for dato in datos %}
            <tr>
                <td>
                    <p>
                        <a href="/media/{{ dato.documento }}">{{ dato.titulo }}</a>
                    </p>
                </td>
                <td>
                    <p>
                        <embed src="/media/{{ dato.documento }}" type="application/pdf" width="300px" height="300px" />
                    </p>
                </td>
                <td>
                    <p>
                    </p>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}