<!DOCTYPE html>
<html>

<head>
    <title>Template</title>
</head>

<body>
    <form action='' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ formulario.as_table }}
        </table>
        <button class='btn-primary' id='btn_enviar' type='submit'>Guardar</button>
    </form>
</body>

</html>