{% extends 'index2.html' %}
{% block titulo %}
{{ accion }} Egreso
{% endblock %}
{% block encabezado %}
{{ accion }} Egreso
{% endblock %}
{% block ruta %}
<a href="#">Egreso</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} Egreso</h1>
                <div style="font-size:12px">
                    <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Operación exitosa</strong>
                    </div>
                    {% if error %}
                    <div id="alerta_error" class="alerta_exito alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ error }}
                    </div>
                    {% else %}
                    <div id="alerta" class="alert alert-info">
                        <p>
                            Completa el formulario
                        </p>
                    </div>
                    {% endif %}
                    <form id="form" method='POST' name="formulario" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class='row'>
                            {% for field in formulario %}
                            <div class="col-4">{{ field.label_tag }}</div>
                            <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                            {% endfor %}
                        </div>
                        <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="cancelar()">
                            Cerrar
                        </button>
                        <button id="btn_guardar" class="btn btn-success" type="submit" aria-label="guardar">
                            <label>Guardar</label>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-info btn-sm" href="{% url 'crear_pdf_egresos'%}">
                            PDF
                        </a>
                    </div>
                    <div class="col-6">
                        <h1>Egresos</h1>
                    </div>
                    <div class="col-6">
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </div>
                </div>
                <div id="alerta_exito2" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div class='table-responsive' style="margin-top: 1%; font-size:12px">
                    <table id='tabla' class='table table-striped table-bordered table-hover table-sm'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Tipo Ingreso</th>
                                <th onclick="sortTable2(1)" style="cursor:pointer">Año</th>
                                <th onclick="sortTable2(2)" style="cursor:pointer">Tipo egreso</th>
                                <th onclick="sortTable2(3)" style="cursor:pointer">Monto</th>
                                <th onclick="sortTable2(4)" style="cursor:pointer">Fecha</th>
                                <!--<th onclick="sortTable2(4)" style="cursor:pointer" >Refere</th>-->
                                <th onclick="sortTable2(5)" style="cursor:pointer">Descripcion</th>
                                <th onclick="sortTable2(6)" style="cursor:pointer">Folio recibo</th>
                                <th onclick="sortTable2(7)" style="cursor:pointer"></th>
                            </tr>
                        </thead>
                        <tbody id='body_tabla'>
                            {% for egreso in egresos %}
                            <tr id='info'>
                                <td>{{egreso.tipo_ingreso|default:''}}</td>
                                <td>{{egreso.ejercicio|default:''}}</td>
                                <td>{{egreso.tipo|default:''}}</td>
                                <td>{{egreso.monto|default:''}}</td>
                                <td>{{egreso.fecha|default:''}}</td>
                                <td>{{egreso.descripcion|default:''}}
                                    <br><a href="/media/{{ egreso.referencia }}">Imagen</a>
                                </td>
                                <td>{{egreso.folio_recibo|default:''}}</td>
                                <td>
                                    <a id='change-egreso' class="btn btn-info btn-sm" data-toggle="tooltip" title="Editar" href="{% url 'editar_egreso' egreso.id %}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a id='delete-egreso' data-target='#myModal2' onclick="cargarEliminacionEgreso({{ egreso.id }})" class='btn btn-danger btn-sm' title="Eliminar" data-toggle='modal'>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end pagination-xs">
                    {% for i in totales %}
                    <li style="margin:0px; padding-left:2px" class="page-item" id='pagina{{ forloop.counter }}'><a style="margin:0px; padding:5px" class="page-link" onclick="obtener10({{ forloop.counter }})">{{ forloop.counter }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<a style="visibility: hidden;" id="btn_abrir_modal_espera" class="btn btn-warning" data-toggle="modal" href="#modalEspera">
    Confirmacion
</a>
<div class="modal fade" id="modalEspera" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">Información</h4><br>
                Espera un momento estamos cargando la información
                <button style="visibility: hidden;" data-dismiss="modal" id="btn_cerrar_modal_espera" class="btn btn-secondary" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'> Confirmaci&oacute;n </h4>
            </div>
            <div class='modal-body'>
                Esta seguro de eliminar el elemento
            </div>
            <div class='modal-footer'>
                <button data-dismiss='modal' class='btn btn-danger btn-sm' type='button'>
                    No
                </button>
                <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-success btn_si_eliminar' type='button' onclick='eliminar()'>
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/egreso.js"></script>
{% endblock %}