{% extends 'index2.html' %}
{% block titulo %}
{{ accion }} Egreso
{% endblock %}
{% block encabezado %}
{{ accion }} Egreso
{% endblock %}
{% block ruta %}
<a href="#">Egreso</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p><a href="/media/{{ ruta }}">{{ ruta }}</a></p>
        <embed src="/media/{{ ruta }}" type="application/pdf" width="70%" height="700px" />
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}