{% extends 'index2.html' %}
{% block titulo %}
{{ accion }}ColonoMascota
{% endblock %}
{% block encabezado %}
{{ accion }}ColonoMascota
{% endblock %}
{% block ruta %}
<a href="#">ColonoMascota</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class='panel'>
            <header class='panel-heading'>
            </header>
            <div class='panel-body'>
                <h1>{{ accion }} ColonoMascota</h1>
                <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true" style="width: 25%">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <nav class="navbar">
                    <button id="btn_nuevo" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#contenidoCuadro" value="0">
                        Nuevo
                    </button>
                </nav>
                <div class="collapse" id="contenidoCuadro">
                    <div id="alerta" class="alert alert-info">
                        <p>
                            Completa el formulario
                        </p>
                    </div>
                    <form id="form" method='POST' name="formulario">
                        {% csrf_token %}
                        <div class='row'>
                            {% for field in formulario %}
                            <div class="col-4">{{ field.label_tag }}</div>
                            <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                            {% endfor %}
                        </div>
                    </form>
                    <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#contenidoCuadro">
                        Cerrar
                    </button>
                    <button id="btn_guardar" class="btn btn-success" aria-label="guardar" onclick="enviar()">
                        <label>Guardar</label>
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class='panel'>
            <header class='panel-heading'>
            </header>
            <div class="panel-body">
                <table class='table'>
                    <th width="50%">
                        <h1>ColonoMascotas</h1>
                    </th>
                    <th>
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </th>
                </table>
                <div class='table-responsive'>
                    <table id='tabla' class=' table table-striped table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Colono</th>
                                <th onclick="sortTable2(1)" style="cursor:pointer">Mascota</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="body-tabla">
                            {% for colonomascota in colonomascotas %}
                            <tr id='info'>
                                <td>{{colonomascota.colono|default:''}}</td>
                                <td>{{colonomascota.mascota|default:''}}</td>
                                <td>
                                    <a class='btn btn-sm btn-info' id='change' onclick="cargarEdicionColonoMascota({{ colonomascota.id }})">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <br>
                                    <a class='btn btn-sm btn-danger' id='delete' data-target='#myModal2' onclick="cargarEliminacionColonoMascota({{ colonomascota.id }})" data-toggle='modal'>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'> Confirmaci&oacute;n </h4>
            </div>
            <div class='modal-body'>
                Esta seguro de eliminar el elemento
            </div>
            <div class='modal-footer'>
                <button data-dismiss='modal' class='btn btn-secondary' type='button'>
                    No
                </button>
                <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-warning btn_si_eliminar' type='button'>
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/colonoMascota.js"></script>
{% endblock %}