{% extends 'index2.html' %}
{% block titulo %}
{{ accion }} Mascota
{% endblock %}
{% block encabezado %}
{{ accion }} Mascota
{% endblock %}
{% block ruta %}
<a href="#">Mascota</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} Mascota</h1>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <nav class="navbar">
                    <button id="btn_nuevo" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#contenidoCuadro" value="0" onclick="nuevo()">
                        Nuevo
                    </button>
                </nav>
                <div class="collapse" id="contenidoCuadro">
                    <div id="alerta" class="alert alert-info">
                        <p>
                            Completa el formulario
                        </p>
                    </div>
                    <form id="formulario" method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class='row'>
                            {% for field in formulario %}
                            <div class="col-4">{{ field.label_tag }}</div>
                            <div class="col-8 text-left">{{ field }}</div>
                            <div class="col-12">
                                <hr class="pm-1">
                            </div>
                            {% endfor %}
                        </div>
                </div>
                <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#contenidoCuadro" onclick="cancelar()">
                    Cerrar
                </button>
                <button id="btn_guardar" class="btn btn-success" aria-label="guardar">
                    <label>Guardar</label>
                </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <table class='table'>
                    <th width="50%">
                        <h1>Mascotas</h1>
                    </th>
                    <th>
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </th>
                </table>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div class='table-responsive'>
                    <table id='tabla' class=' table table-striped table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Nombre</th>
                                <th onclick="sortTable2(1)" style="cursor:pointer">Animal</th>
                                <th onclick="sortTable2(2)" style="cursor:pointer">Foto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id='body-tabla'>
                            {% for mascota in mascotas %}
                            <tr id='info'>
                                <td>{{mascota.nombre|default:''}}</td>
                                <td>
                                    <p>
                                        {{mascota.animal|default:''}}
                                        {{mascota.raza|default:''}}
                                        {{mascota.tamano|default:''}}
                                        {{mascota.color|default:''}}
                                        {{mascota.genero|default:''}}
                                    </p>
                                </td>
                                <td>
                                    <a href="/media/{{mascota.foto|default:''}}">
                                        Imagen
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" title="Editar" id='change' href="{% url 'editar_mascota' mascota.id %}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <br>
                                    <a id='delete' data-target='#myModal2' data-toggle="modal" class='btn btn-danger btn-sm' title="Eliminar" onclick="cargarEliminacionMascota({{ mascota.id}})">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'> Confirmaci&oacute;n </h4>
            </div>
            <div class='modal-body'>
                Esta seguro de eliminar el elemento
            </div>
            <div class='modal-footer'>
                <button data-dismiss='modal' class='btn btn-danger' type='button'>
                    No
                </button>
                <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-success btn_si_eliminar' type='button' onclick="eliminar()">
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
<script src="/static/js/funciones/mascota.js"></script>
{% endblock %}
{% block scripts %}
{% endblock %}