{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <!--<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">-->
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{% static 'css/elegant-icons-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
</head>

<body class="login-img3-body">
    <div class="container">
        <div id="container" class="">
            <form class="login-form" action="{% url 'primer_login' %}" method="post">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error }}
                </div>
                {% endif %}
                <div class="login-wrap">
                    <p class="login-img"><i class="icon_lock_alt"></i></p>
                    <h3> Bienvenido al Sistema</h3>
                    <h4>Debes cambiar tu contraseña </h4>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_profile"></i></span>
                        <input id="usuario" type="hidden" class="form-control" placeholder={{ user_name }} name="username" autofocus value={{ user_name }}>
                    </div>
                    <p> Escribe tu nueva contraseña</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input id="password2" type="password" class="form-control" placeholder="Nuevo Password" name="password2" required>
                    </div>
                    <p> Re-escribe tu nueva contraseña</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input id="password3" type="password" class="form-control" placeholder="Nuevo Password" name="password3" required>
                    </div>
                    <!--<label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href=""> Forgot Password?</a></span>
            </label>-->
                    <button id="entrar" class="btn btn-primary btn-lg btn-block" id="entrar" type="submit">Login</button>
                    <!--<button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>-->
                </div>
            </form>
        </div>
    </div>
</body>

</html>