{% extends 'index2.html' %}
{% block titulo %}
{{ accion }} Vigilante
{% endblock %}
{% block encabezado %}
{{ accion }} Vigilante
{% endblock %}
{% block ruta %}
<a href="#">Vigilante</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} Vigilante</h1>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div>
                    <div>
                        <div id="alerta" class="alert alert-info">
                            <p>
                                Completa el formulario
                            </p>
                        </div>
                    </div>
                    <form id="form" method='POST' name="formulario">
                        {% csrf_token %}
                        <div class='row'>
                            {% for field in formulario %}
                            <div class="col-4">{{ field.label_tag }}</div>
                            <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                            {% endfor %}
                        </div>
                    </form>
                    <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="cancelar()">
                        Cerrar
                    </button>
                    <button onclick="guardar()" class="btn btn-success">
                        <label>Guardar</label>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <table class='table'>
                    <tr>
                        <td>
                            <h1>Vigilantes</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Búsqueda</h4>
                            <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                        </td>
                    </tr>
                </table>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div class='table-responsive'>
                    <table id='tabla' class='table-responsive table table-striped table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Nombre</th>
                                <th onclick="sortTable2(1)" style="cursor:pointer">Telefono</th>
                                <th onclick="sortTable2(2)">Fecha Inicio</th>
                                <th onclick="sortTable2(3)">Fecha Fin</th>
                                <th onclick="sortTable2(4)" style="cursor:pointer">Email</th>
                                <th onclick="sortTable2(5)" style="cursor:pointer">UserName</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="body_tabla">
                            {% for vigilante in vigilantes %}
                            <tr id='info'>
                                <td>{{vigilante.first_name|default:''}}
                                    {{vigilante.last_name|default:''}}
                                    {{vigilante.amaterno|default:''}}</td>
                                <td>{{vigilante.telefono|default:''}}</td>
                                <td>{{vigilante.fecha_inicio_servicio|default:''}}</td>
                                <td>{{vigilante.fecha_fin_servicio|default:''}}</td>
                                <td>{{vigilante.email|default:''}}</td>
                                <td>{{vigilante.username|default:''}}</td>
                                <td>
                                    <a id='change-vigilante' class="btn btn-info btn-sm" data-toggle="tooltip" title="Editar" onclick="cargarEdicionVigilante({{ vigilante.id }})">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a id='delete-vigilante' href='#myModal2' onclick="cargarEliminacionVigilante({{ vigilante.id }})" class='btn btn-danger btn-sm' title="Eliminar" data-toggle='modal'>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>

</script>
<script src="/static/js/funciones/vigilante.js"></script>
{% endblock %}