{% extends 'index2.html' %}
{% block titulo %}
{{ accion }}VisitaAutorizada
{% endblock %}
{% block encabezado %}
{{ accion }}VisitaAutorizada
{% endblock %}
{% block ruta %}
<a href="#">VisitaAutorizada</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} VisitaAutorizada</h1>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <!--<nav class="navbar">
                                <button id="btn_nuevo" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0" onclick="nuevo()">
                                    Nuevo
                                </button>
                            </nav> class="collapse" id="div_formulario"-->
                <div>
                    <div>
                        <div id="alerta" class="alert alert-info">
                            <p>
                                Completa el formulario
                            </p>
                        </div>
                    </div>
                    <form id="form" method='POST' name="formulario">
                        {% csrf_token %}
                        <div class='row'>
                            {% for field in formulario %}
                            <div class="col-4">{{ field.label_tag }}</div>
                            <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                            {% endfor %}
                        </div>
                    </form>
                    <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="cancelar()">
                        Cerrar
                    </button>
                    <button id="btn_guardar" class="btn btn-success" aria-label="guardar" onclick="guardar()">
                        <label>Guardar</label>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <table class='table'>
                    <th width="50%">
                        <h1>VisitaAutorizadas</h1>
                    </th>
                    <th>
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </th>
                </table>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div class='table-responsive'>
                    <table id='tabla' class='table-sm table table-striped table-bordered table-hover'>
                        <tr>
                            <th onclick="sortTable2(0)" style="cursor:pointer">Colono</th>
                            <th onclick="sortTable2(1)" style="cursor:pointer">Persona ajena</th>
                            <th onclick="sortTable2(2)" style="cursor:pointer">Fecha_de_visita</th>
                            <th onclick="sortTable2(3)" style="cursor:pointer">Hora entrada</th>
                            <th onclick="sortTable2(4)" style="cursor:pointer">Hora salida</th>
                            <th onclick="sortTable2(5)" style="cursor:pointer">Identificacion</th>
                            <th onclick="sortTable2(6)" style="cursor:pointer">Numero personas</th>
                            <th onclick="sortTable2(7)" style="cursor:pointer">Foto</th>
                            <th onclick="sortTable2(8)" style="cursor:pointer">Tipo acceso</th>
                            <th onclick="sortTable2(9)" style="cursor:pointer">Fecha estimada</th>
                            <th onclick="sortTable2(10)" style="cursor:pointer">Hora estimada min</th>
                            <th onclick="sortTable2(11)" style="cursor:pointer">Hora estimada max</th>
                            <th></th>
                        </tr>
                        {% for visitaautorizada in visitaautorizadas %}
                        <tr id='info'>
                            <td>{{visitaautorizada.colono|default:''}}</td>
                            <td>{{visitaautorizada.persona_ajena|default:''}}</td>
                            <td>{{visitaautorizada.fecha|default:''}}</td>
                            <td>{{visitaautorizada.hora_entrada|default:''}}</td>
                            <td>{{visitaautorizada.hora_salida|default:''}}</td>
                            <td>{{visitaautorizada.identificacion|default:''}}</td>
                            <td>{{visitaautorizada.numero_personas|default:''}}</td>
                            <td>{{visitaautorizada.foto|default:''}}</td>
                            <td>{{visitaautorizada.tipo_acceso|default:''}}</td>
                            <td>{{visitaautorizada.fecha_estimada|default:''}}</td>
                            <td>{{visitaautorizada.hora_estimada_min|default:''}}</td>
                            <td>{{visitaautorizada.hora_estimada_max|default:''}}</td>
                            <td>
                                <a id='change-visitaautorizada' class="btn btn-info btn-sm" data-toggle="tooltip" title="Editar" onclick="cargarEdicionVisitaAutorizada({{ visitaautorizada.id }})">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a id='delete-visitaautorizada' href='#myModal2' onclick="cargarEliminacionVisitaAutorizada({{ visitaautorizada.id }})" class='btn btn-danger btn-sm' title="Eliminar" data-toggle='modal'>
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        <div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
                            <div class='modal-dialog'>
                                <div class='modal-content'>
                                    <div class='modal-header'>
                                        <h4 class='modal-title'> Confirmaci&oacute;n </h4>
                                    </div>
                                    <div class='modal-body'>
                                        Esta seguro de eliminar el elemento
                                    </div>
                                    <div class='modal-footer'>
                                        <button data-dismiss='modal' class='btn btn-secondary' type='button'>
                                            No
                                        </button>
                                        <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-warning btn_si_eliminar' type='button'>
                                            Si
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/visitaAutorizada.js"></script>
{% endblock %}