{% extends 'index2.html' %}
{% block titulo %}
{{ accion }} PersonaAjena
{% endblock %}
{% block encabezado %}
{{ accion }} PersonaAjena
{% endblock %}
{% block ruta %}
<a href="#">PersonaAjena</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} PersonaAjena</h1>
                <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <nav class="navbar">
                    <button id="btn_nuevo" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0" onclick="nuevo()">
                        Nuevo
                    </button>
                </nav>
                <div class="collapse" id="div_formulario">
                    <div>
                        <div id="alerta" class="alert alert-info">
                            <p>
                                Completa el formulario
                            </p>
                        </div>
                    </div>
                    <form id="form" method='POST' name="formulario">
                        {% csrf_token %}
                        <div class='row'>
                            {% for field in formulario %}
                            <div class="col-4">{{ field.label_tag }}</div>
                            <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                            {% endfor %}
                        </div>
                    </form>
                    <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="cancelar()">
                        Cerrar
                    </button>
                    <button id="btn_guardar" class="btn btn-success" type="button" aria-label="guardar" onclick="guardar()">
                        <label>Guardar</label>
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <table class='table'>
                    <th width="50%">
                        <h1>PersonaAjenas</h1>
                    </th>
                    <th>
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </th>
                </table>
                <div id="alerta_exito2" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div class='table-responsive'>
                    <table id='tabla' class='table table-striped table-bordered table-hover table-sm'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Tipo</th>
                                <th onclick="sortTable2(1)" style="cursor:pointer">Apaterno</th>
                                <th onclick="sortTable2(2)" style="cursor:pointer">Amaterno</th>
                                <th onclick="sortTable2(3)" style="cursor:pointer">Nombre</th>
                                <th onclick="sortTable2(4)" style="cursor:pointer">Telefono</th>
                                <th onclick="sortTable2(5)" style="cursor:pointer">Empresa</th>
                                <th onclick="sortTable2(6)" style="cursor:pointer">Restriccion acceso</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer">User_register</th>-->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="body_tabla">
                            {% for personaAjena in personaajenas %}
                            <tr id='info'>
                                <td>{{personaAjena.tipo|default:''}}</td>
                                <td>{{personaAjena.apaterno|default:''}}</td>
                                <td>{{personaAjena.amaterno|default:''}}</td>
                                <td>{{personaAjena.nombre|default:''}}</td>
                                <td>{{personaAjena.telefono|default:''}}</td>
                                <td>{{personaAjena.empresa|default:''}}</td>
                                <td>{{personaAjena.restriccion_acceso|default:''}}</td>
                                <td>
                                    <a id='change-personaAjena' class="btn btn-info btn-sm" data-toggle="tooltip" title="Editar" onclick="cargarEdicionPersonaAjena({{ personaAjena.id }})">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a id='delete-personaAjena' href='#myModalDeletePersonaAjena' onclick="cargarEliminacionPersonaAjena({{ personaAjena.id }})" class='btn btn-danger btn-sm' title="Eliminar" data-toggle='modal'>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='myModalDeletePersonaAjena' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'> Confirmaci&oacute;n </h4>
            </div>
            <div class='modal-body'>
                Esta seguro de eliminar el elemento
            </div>
            <div class='modal-footer'>
                <button data-dismiss='modal' class='btn btn-danger btn-sm' type='button'>
                    No
                </button>
                <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-success btn_si_eliminar' type='button'>
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/personaAjena.js"></script>
{% endblock %}