{% extends 'index2.html' %}
{% block titulo %}
{{ accion }}MotivosRestriccion
{% endblock %}
{% block encabezado %}
{{ accion }}MotivosRestriccion
{% endblock %}
{% block ruta %}
<a href="#">MotivosRestriccion</a>
{% endblock %}
{% block contenido %}
<div class='panel'>
    <header class='panel-heading tab-bg-primary '>
        <ul class='nav nav-tabs'>
            <li class='active'>
                <a data-toggle='tab' href='#home'>{{ accion }} MotivosRestriccion</a>
            </li>
            <li class=''>
                <a data-toggle='tab' href='#about'>Lista MotivosRestriccion</a>
            </li>
        </ul>
    </header>
    <div class='panel-body'>
        <div class='tab-content'>
            <div id='home' class='tab-pane active'>
                <div>
                    <h1>{{ accion }} MotivosRestriccion</h1>
                    <div class="panel">
                        <nav class="navbar">
                            <button id="btn_nuevo" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0">
                                Nuevo
                            </button>
                        </nav>
                        <div class="collapse" id="div_formulario">
                            <div>
                                <div id="alerta" class="alert alert-info">
                                    <p>
                                        Completa el formulario
                                    </p>
                                </div>
                                <form id="form" method='POST' name="formulario">
                                    {% csrf_token %}
                                    <div class='row'>
                                        {% for field in formulario %}
                                        <div class="col-4">{{ field.label_tag }}</div>
                                        <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                                        {% endfor %}
                                    </div>
                                </form>
                                <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario">
                                    Cerrar
                                </button>
                                <button id="btn_guardar" class="btn btn-success" aria-label="guardar">
                                    <label>Guardar</label>
                                </button>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table class='table'>
                        <th width="50%">
                            <h1>MotivosRestriccions</h1>
                        </th>
                        <th>
                            <h4>Búsqueda</h4>
                            <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                        </th>
                    </table>
                    <div class='table-responsive'>
                        <table id='tabla' class='class_tabla table table-striped table-bordered table-hover'>
                            <tr>
                                <th>Motivo</th>
                                <th>Fecha</th>
                            </tr>
                            {% for motivosrestriccion in motivosrestriccions %}
                            <tr id='info'>
                                <td>motivosrestriccion.motivo</td>
                                <td>motivosrestriccion.fecha</td>
                                <td>
                                    <a id='change' href="javascript: cargarEdicionMotivosRestriccion({{ motivosrestriccion.id }})">
                                        Editar
                                    </a>
                                    <br>
                                    <a id='delete' href='#myModal2' onclick="cargarEliminacionMotivosRestriccion({{ motivosrestriccion.id }})" class='a_eliminar' data-toggle='modal'>
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            <div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
                                <div class='modal-dialog'>
                                    <div class='modal-content'>
                                        <div class='modal-header'>
                                            <h4 class='modal-title'> Confirmaci&oacute;n </h4>
                                        </div>
                                        <div class='modal-body'>
                                            Esta seguro de eliminar el elemento
                                        </div>
                                        <div class='modal-footer'>
                                            <button data-dismiss='modal' class='btn btn-secondary' type='button'>
                                                No
                                            </button>
                                            <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-warning btn_si_eliminar' type='button'>
                                                Si
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
            <div id='about' class='tab-pane'>
                Guardar
                <br>
                <h4>MotivosRestriccions</h4>
                <div>
                    <div class='table-responsive'>
                        <table id='tabla_2' class='class_tabla table table-striped table-bordered table-hover'>
                            <tr>
                                <th>Motivo</th>
                                <th>Fecha</th>
                            </tr>
                            {% for motivosrestriccion in motivosrestriccions %}
                            <tr id='info_2_{{ motivosrestriccion.id }}'>
                                <td>motivosrestriccion.motivo</td>
                                <td>motivosrestriccion.fecha</td>
                                <td>
                                    <br>
                                    <a id='delete_2_{{ motivosrestriccion.id }}' class='a_eliminar' data-toggle='modal' href='#myModal2'>
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/motivosRestriccion.js"></script>
{% endblock %}