{% extends 'index.html' %}
{% block titulo %}
{{ accion }}Respaldo
{% endblock %}
{% block encabezado %}
{{ accion }}Respaldo
{% endblock %}
{% block ruta %}
{% endblock %}
{% block contenido %}
<section class='panel'>
    <header class='panel-heading tab-bg-primary '>
        <ul class='nav nav-tabs'>
            <li class='active'>
                <a data-toggle='tab' href='#home'>Respaldo</a>
            </li>
        </ul>
    </header>
    <div class='panel-body'>
        <div class='tab-content'>
            <div id='home' class='tab-pane active'>
                <h4>Respaldos</h4>
                <div>
                    {% for elemento in cadena %}
                    <p>
                        {{ elemento }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}