{% extends 'index.html' %}
{% block titulo %}
{{ accion }}Respaldo
{% endblock %}
{% block encabezado %}
{{ accion }}Respaldo
{% endblock %}
{% block ruta %}
{% endblock %}
{% block contenido %}
<section class='panel'>
    <header class='panel-heading tab-bg-primary '>
        <ul class='nav nav-tabs'>
            <li class='active'>
                <a data-toggle='tab' href='#home'>{{ accion }} Respaldo</a>
            </li>
        </ul>
    </header>
    <div class='panel-body'>
        <div class='tab-content'>
            <div id='home' class='tab-pane active'>
                <div>
                    <h1>{{ accion }} Respaldo</h1>
                    <a class='btn-primary' href="{% url 'imprimir' %}"> Imprimir </a>
                    <div class='table-responsive'>
                        <form action='' method='POST' enctype="multipart/form-data">
                            {% csrf_token %}
                            <table class='table table-striped table-bordered table-hover' id='dataTables-example'>
                                {% for field in formulario %}
                                <tr>
                                    <th>{{ field.label_tag }}</th>
                                    <th>{{ field }}
                                    </th>
                                </tr>
                                {% endfor %}
                            </table>
                            <button class='btn-primary' id='btn_enviar' type='submit'>Guardar</button>
                            <a href="{% url 'login' %}">Regresar</a>
                        </form>
                    </div>
                </div>
                Guardar
                <br>
                <h4>Respaldos</h4>
                <div>
                    <div class='table-responsive'>
                        <table id='tabla_areacomun' class='table table-striped table-bordered table-hover'>
                            <tr>
                                <th>Fecha</th>
                                <th>Archivo</th>
                            </tr>
                            {% for respaldo in respaldos %}
                            <tr>
                                <td>{{ respaldo.fecha |default:''}}</td>
                                <td>{{ respaldo.archivo |default:''}}</td>
                                <td>
                                    <a id='cargar{{ respaldo.id }}' href="{% url 'cargar_respaldo' respaldo.id %}">Cargar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}