{% extends 'index.html' %}
{% block titulo %}
{{ accion }}Respaldo
{% endblock %}
{% block encabezado %}
{{ accion }}Respaldo
{% endblock %}
{% block ruta %}
{% endblock %}
{% block contenido %}
<section class='panel'>
    <header class='panel-heading tab-bg-primary '>
        <ul class='nav nav-tabs'>
            <li class='active'>
                <a data-toggle='tab' href='#home'>{{ accion }} Respaldo</a>
            </li>
        </ul>
    </header>
    <div class='panel-body'>
        <div class='tab-content'>
            <div id='home' class='tab-pane active'>
                Guardar
                <br>
                <h4>Respaldos</h4>
                <div>
                    <div class='table-responsive'>
                        <table id='tabla_areacomun' class='table table-striped table-bordered table-hover'>
                            {% for linea in lineas %}
                            <tr>
                                <td>{{ linea |default:''}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}