{% extends 'index2.html' %}
{% block titulo %}
{{ accion }}ReporteVecino
{% endblock %}
{% block encabezado %}
{{ accion }}ReporteVecino
{% endblock %}
{% block ruta %}
<a href="#">ReporteVecino</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class='panel'>
            <div class='panel-heading'>
            </div>
            <div class='panel-body'>
                <h1>{{ accion }} ReporteVecino</h1>
                <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div id="alerta_exito" class="alert alert-success" hidden="True" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                {% if exito %}
                <div id="alerta_exito" class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                {% endif %}
                {% if error %}
                <div id="alerta_exito" class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <nav class="navbar">
                    <button id="btn_nuevo" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0" onclick="reporte_new()">
                        Nuevo
                    </button>
                </nav>
                <div class="collapse" id="div_formulario">
                    <div>
                        <div id="alerta" class="alert alert-info">
                            <p>
                                Completa el formulario
                            </p>
                        </div>
                        <form id="form" method='POST' name="formulario" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class='row'>
                                {% for field in formulario %}
                                <div class="col-4">{{ field.label_tag }}</div>
                                <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                                {% endfor %}
                            </div>
                            {% if accion == "Editar" %}
                            <a id="btn_cancelar" href="/sancion/reportevecino_nuevo" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario">
                                Cerrar
                            </a>
                            {% else %}
                            <button id="btn_cancelar" onkeypress="cancelar()" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario">
                                Cerrar
                            </button>
                            {% endif %}
                            <button id="btn_guardar" class="btn btn-success" aria-label="guardar">
                                <label>Guardar</label>
                            </button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class='panel'>
            <div class='panel-heading'>
            </div>
            <div class='panel-body'>
                <table class='table'>
                    <th width="50%">
                        <h1>ReporteVecinos</h1>
                    </th>
                    <th>
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </th>
                </table>
                <div class='table-responsive'>
                    <table id='tabla' class='class_tabla table table-striped table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Colono</th>
                                <th onclick="sortTable2(1)" style="cursor:pointer">Fecha</th>
                                <th onclick="sortTable2(2)" style="cursor:pointer">Observaciones</th>
                                <th onclick="sortTable2(3)" style="cursor:pointer">Foto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="body-tabla">
                            {% for reportevecino in reportevecinos %}
                            <tr id='info'>
                                <td>{{reportevecino.colono|default:''}}</td>
                                <td>{{reportevecino.fecha|default:''}}</td>
                                <td>{{reportevecino.observaciones|default:''}}</td>
                                <td><a href="/media/{{reportevecino.foto|default:''}}">Imagen</a></td>
                                <td>
                                    <a class="btn btn-info btn-sm" id='change' href="{% url 'editar_reportevecino' reportevecino.id %}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <br>
                                    <a id='delete' class='btn btn-danger btn-sm' data-target='#myModal2' onclick="cargarEliminacionReporteVecino({{ reportevecino.id }})" data-toggle='modal'>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'> Confirmaci&oacute;n </h4>
            </div>
            <div class='modal-body'>
                Esta seguro de eliminar el elemento
            </div>
            <div class='modal-footer'>
                <button data-dismiss='modal' class='btn btn-danger' type='button'>
                    No
                </button>
                <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-success btn_si_eliminar' type='button' onclick="eliminar()">
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>

</script>
<script src="/static/js/funciones/reporteVecino.js"></script>
{% endblock %}