{% extends 'index2.html' %}
{% block titulo %}
{{ accion }} Ingreso
{% endblock %}
{% block encabezado %}
{{ accion }} Ingreso
{% endblock %}
{% block ruta %}
<a href="#">Ingreso</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-8">
                        <h1>Ingresos</h1>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-8">
                        <a style="margin: 1%" class='btn btn-info btn-sm' href="{% url 'nuevo_ingreso' %}">Nuevo</a>
                    </div>
                </div>
                <div id="alerta_exito2" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div style="margin: 1%" class='table-responsive'>
                    <table id='tabla_ingreso' class='class_tabla_ingreso table table-striped table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Colono</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Tipo_ingreso</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Ejercicio</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Fecha</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Monto</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Referencia</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Estatus</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Abono</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Descripcion</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Folio_recibo</th>
                                <th> Opciones </th>
                            </tr>
                        </thead>
                        <tbody id="body_tabla_ingreso">
                            {% for ingreso in ingresos %}
                            <tr id='info_ingreso'>
                                <td>{{ingreso.colono|default:''}}</td>
                                <td>{{ingreso.tipo_ingreso|default:''}}</td>
                                <td>{{ingreso.ejercicio|default:''}}</td>
                                <td>{{ingreso.fecha|date:"d F Y" |default:''}}</td>
                                <td>{{ingreso.monto|default:''}}</td>
                                <td>
                                    <!--{{ingreso.referencia|default:''}}-->
                                </td>
                                <td>{{ingreso.estatus|default:''}}</td>
                                <td>{{ingreso.abono|default:''}}</td>
                                <td>{{ingreso.descripcion|default:''}}</td>
                                <td>{{ingreso.folio_recibo|default:''}}</td>
                                <td>
                                    <a id='change-ingreso' class="btn btn-warning" data-toggle="modal" title="Editar" href="#myModal" onclick="cargarEdicionIngreso({{ ingreso.id }})">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Confirmaci&oacute;n </h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered table-responsive">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Colono</td>
                                                <td><label id='id_colono'>_</label></td>
                                            </tr>
                                            <tr>
                                                <td>tipo_ingreso</td>
                                                <td><label id='id_tipo_ingreso'>_</label></td>
                                            </tr>
                                            <tr>
                                                <td>fecha</td>
                                                <td><label id='id_fecha'>_</label></td>
                                            </tr>
                                            <tr>
                                                <td>monto</td>
                                                <td><label id='id_monto'>_</label></td>
                                            </tr>
                                            <tr>
                                                <td>referencia</td>
                                                <td><label id='id_referencia'>_</label></td>
                                            </tr>
                                            <tr>
                                                <td>abono</td>
                                                <td><label id='id_abono'>_</label></td>
                                            </tr>
                                            <tr>
                                                <td>descripcion</td>
                                                <td><label id='id_descripcion'>_</label></td>
                                            </tr>
                                            <tr>
                                                <td>ejercicio</td>
                                                <td><label id='id_ejercicio'>_</label></td>
                                            </tr>
                                            <tr>
                                                <td>folio_recibo</td>
                                                <td><label id='id_folio_recibo'>_</label></td>
                                            </tr>
                                            <tr>
                                                <td>estatus</td>
                                                <td><label id='id_estatus'>_</label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss='modal' class='btn btn-success' type='button'>
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>

</script>
<script src="/static/js/funciones/ingresoLista.js"></script>
{% endblock %}