{% extends 'index2.html' %}
{% block titulo %}
{{ accion }} Ingreso
{% endblock %}
{% block encabezado %}
{{ accion }} Ingreso
{% endblock %}
{% block ruta %}
<a href="#">Ingreso</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} Ingreso</h1>
                <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <nav class="navbar">
                    <button id="btn_nuevo" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0" onclick="nuevo()">
                        Nuevo
                    </button>
                </nav>
                <div class="collapse" id="div_formulario">
                    <div id="alerta" class="alert alert-info">
                        <p>
                            Completa el formulario
                        </p>
                    </div>
                    <form id="form" method='POST' name="formulario" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class='row'>
                            {% for field in formulario %}
                            <div class="col-4">{{ field.label_tag }}</div>
                            <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                            {% endfor %}
                        </div>
                        <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="cancelar()">
                            Cerrar
                        </button>
                        <button id="btn_guardar" class="btn btn-success" type="submit" aria-label="guardar">
                            <label>Guardar</label>
                        </button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-8">
                        <a style="margin: 1%" class='btn btn-info btn-sm' href="{% url 'nuevo_ingreso_generar' %}">Generar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-8">
                        <h1>Ingresos</h1>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-8">
                        <a style="margin: 1%" class='btn btn-info btn-sm' href="{% url 'lista_ingresos' %}">Detalles</a>
                    </div>
                </div>
                <div id="alerta_exito2" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div class='table-responsive' style="margin-top: 1%">
                    <table id='tabla' class='class_tabla table table-striped table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Colono</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Tipo</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Ejercicio</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Fecha</th>-->
                                <th onclick="sortTable2(0)" style="cursor:pointer">Monto</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Referencia</th>-->
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Estatus</th>-->
                                <th onclick="sortTable2(0)" style="cursor:pointer">Abono</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Descripcion</th>

                                <th onclick="sortTable2(0)" style="cursor:pointer" >Folio_recibo</th>-->
                                <th> Opciones </th>
                            </tr>
                        </thead>
                        <tbody id="body_tabla">
                            {% for ingreso in ingresos %}
                            <tr id='info'>
                                <td>{{ingreso.colono|default:''}}</td>
                                <td>
                                    {{ingreso.tipo|default:''}}
                                </td>
                                <td>{{ingreso.ejercicio|default:''}}</td>
                                <td>{{ingreso.monto|default:''}}</td>
                                <td>{{ingreso.abono|default:''}}</td>
                                <td>
                                    <a id='change-ingreso' class="btn btn-info btn-sm" data-toggle="tooltip" title="Editar" href="{% url 'editar_ingreso' ingreso.id%}" onclick="cargarEdicionIngreso({{ ingreso.id }})">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a id='delete-ingreso' href='#myModalDeleteIngreso' onclick="cargarEliminacionIngreso({{ ingreso.id }})" class='btn btn-danger btn-sm' title="Eliminar" data-toggle='modal'>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <div class='modal fade' id='myModalDeleteIngreso' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
                            <div class='modal-dialog'>
                                <div class='modal-content'>
                                    <div class='modal-header'>
                                        <h4 class='modal-title'> Confirmaci&oacute;n </h4>
                                    </div>
                                    <div class='modal-body'>
                                        Esta seguro de eliminar el elemento
                                    </div>
                                    <div class='modal-footer'>
                                        <button data-dismiss='modal' class='btn btn-danger btn-sm' type='button'>
                                            No
                                        </button>
                                        <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-success btn_si_eliminar' type='button'>
                                            Si
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end pagination-xs">
                            {% for i in totales %}
                            <li style="margin:0px; padding-left:2px" class="page-item" id='pagina{{ forloop.counter }}'><a style="margin:0px; padding:5px" class="page-link" onclick="obtener10({{ forloop.counter }})">{{ forloop.counter }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<a style="visibility: hidden;" id="btn_abrir_modal_espera" class="btn btn-warning" data-toggle="modal" href="#modalEspera">
    Confirm
</a>
<div class="modal fade" id="modalEspera" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
            </div>
            <div class="modal-body">
                Espera un momento estamos cargando la información
            </div>
            <div class="modal-footer">
                <button style="visibility: hidden;" data-dismiss="modal" id="btn_cerrar_modal_espera" class="btn btn-secondary" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>

</script>
<script src="/static/js/funciones/ingreso.js"></script>
{% endblock %}