{% extends 'index2.html' %}
{% block titulo %}
{{ accion }} Ingreso
{% endblock %}
{% block encabezado %}
{{ accion }} Ingreso
{% endblock %}
{% block ruta %}
<a href="#">Ingreso</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} Ingreso</h1>
                <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <nav class="navbar">
                    <button id="btn_nuevo_ingreso" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0" onclick="nuevo()">
                        Nuevo
                    </button>
                </nav>
                <div class="collapse" id="div_formulario">
                    <div id="alerta_ingreso" class="alert alert-info">
                        <p>
                            Completa el formulario
                        </p>
                    </div>
                    <form id="form_ingreso" method='POST' name="formulario">
                        {% csrf_token %}
                        <div class='table-responsive'>
                            <table class='table table-striped table-bordered table-hover' id='dataTables-example'>
                                {% for field in formulario %}
                                {% if field.name == 'monto' or field.name == 'ejercicio' %}
                                <tr>
                                    <th>{{ field.label_tag }}</th>
                                    <th><label id='id_{{field.name}}'></label></th>
                                </tr>
                                {% elif field.name == 'colono' %}
                                <tr>
                                    <th>{{ field.label_tag }}</th>
                                    <th>{{ field }}</th>
                                </tr>
                                <tr>
                                    <th><label>Domicilio</label></th>
                                    <th>
                                        <select id="id_domicilio" name="domicilio" required></select>
                                    </th>
                                </tr>
                                {%elif field.name == 'fecha' %}
                                <tr>
                                    <th>{{ field.label_tag }}</th>
                                    <th><label value={{fecha}} id='id_{{field.name}}'>{{fecha}}</label></th>
                                </tr>
                                {%else%}
                                <tr>
                                    <th>{{ field.label_tag }}</th>
                                    <th>{{ field }}</th>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </form>
                    <button id="btn_cancelar_ingreso" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="cancelar()">
                        Cerrar
                    </button>
                    <button id="btn_guardar" class="btn btn-success" type="submit" aria-label="guardar" onclick="guardar()">
                        <label>Guardar</label>
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <!--<div class="row" >
                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-8">
                            <a style="margin: 1%" class='btn btn-info btn-sm' href="{% url 'nuevo_ingreso_generar' %}">Generar</a>
                        </div>
                    </div>-->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-8">
                        <h1>Ingresos</h1>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </div>
                    <!--<div class="col-lg-4 col-md-4 col-sm-3 col-xs-8">
                            <a style="margin: 1%" class='btn btn-info btn-sm' href="{% url 'lista_ingresos' %}">Detalles</a>
                        </div>-->
                </div>
                <div id="alerta_exito2" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div class='table-responsive' style="margin-top: 1%">
                    <table id='tabla_ingreso' class='class_tabla_ingreso table table-striped table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Colono</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Tipo_ingreso</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Ejercicio</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Fecha</th>-->
                                <th onclick="sortTable2(0)" style="cursor:pointer">Monto</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Estatus</th>-->
                                <th onclick="sortTable2(0)" style="cursor:pointer">Abono</th>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Referencia</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Descripcion</th>

                                <th onclick="sortTable2(0)" style="cursor:pointer" >Folio_recibo</th>-->
                            </tr>
                        </thead>
                        <tbody id="body_tabla_ingreso">
                            {% for ingreso in ingresos %}
                            <tr id='info_ingreso'>
                                <td>{{ingreso.colono|default:''}}</td>
                                <td>
                                    {{ingreso.tipo_ingreso|default:''}}
                                </td>
                                <td>{{ingreso.ejercicio|default:''}}</td>
                                <td>{{ingreso.monto|default:''}}</td>
                                <td>{{ingreso.abono|default:''}}</td>
                                <td>
                                    <a href="/{{ingreso.referencia|default:''}}">Referencia</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <div class='modal fade' id='myModalDeleteIngreso' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
                            <div class='modal-dialog'>
                                <div class='modal-content'>
                                    <div class='modal-header'>
                                        <h4 class='modal-title'> Confirmaci&oacute;n </h4>
                                    </div>
                                    <div class='modal-body'>
                                        Esta seguro de eliminar el elemento
                                    </div>
                                    <div class='modal-footer'>
                                        <button data-dismiss='modal' class='btn btn-danger btn-sm' type='button'>
                                            No
                                        </button>
                                        <button id="p" name="boton_si_eliminar_ingreso" value="koko" data-dismiss='modal' class='btn btn-success btn_si_eliminar_ingreso' type='button'>
                                            Si
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                    <div>
                        <ul class="pagination pagination-sm pull-right">
                            {% for i in totales %}
                            <li id='pagina{{ forloop.counter }}'><a onclick="obtener10({{ forloop.counter }})">{{ forloop.counter }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/ingresosPagar.js"></script>
<script type='text/javascript'>

{% endblock %}