<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    {% load static %}
    <link href="{% static 'elegant/assets/node_modules/morrisjs/morris.css' %}" rel="stylesheet">
    <link href="{% static 'elegant/assets/node_modules/c3-master/c3.min.css' %}" rel="stylesheet">
    <link href="{% static 'elegant/dist/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'elegant/dist/css/pages/dashboard1.css' %}" rel="stylesheet">
    <link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
    <!-- Agregados por mi -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet">
    <link href="{% static 'css/widgets.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fa-icons/css/font-awesome.min.css' %}">
</head>

<body class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <li class="nav-item hidden-sm-up">
                    <a class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)">
                        <label style="color:white"><i class="fa fa-bars"></i></label>
                    </a>
                </li>
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'login'%}">
                        <h3 class="letras_logo">
                            Privada
                            <label class="nivel2">Roble</label>
                        </h3>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul style="width:80%">
                    </ul>
                    <ul class="navbar-nav">
                        <div class="dropdown">
                            <a class="dropdown-toggle text-muted waves-effect btn" style="border:solid 1px" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle-o ">
                                </i> <label style="margin-left:2px; margin-right:2px">{{ request.user }}</label>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #aab7b8;">
                                <a href="{% url 'logout_privada' %}" class="dropdown-item">Salir</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)">
                    <label style="color:white"><i class="fa fa-bars"></i></label>
                </a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)">
                    <label style="color:white"><i class="fa fa-bars"></i></label>
                </a>
            </div>
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!--<li>
							<a class="waves-effect waves-dark" data-toggle="collapse" aria-expanded="false" href="#opcionSancion" >
								<i class="fa fa-ban" aria-hidden="true"></i>
								Sancion
							</a>
							<ul class="collapse" id="opcionSancion">
								<li>
                                    <a id='sancions' class='' href="{% url 'nuevo_sancion_colono' %}">
                                    Sancions
                                    </a>
                                </li>
                                <li>
                                    <a id='reportevecinos' class='' href="{% url 'nuevo_reportevecino_colono' %}">
                                    Reporte Vecinos
                                    </a>
                                </li>
							</ul>
						</li>-->
                        <li>
                            <a class="waves-effect waves-dark" href="{% url 'nuevo_reservacion_vigilante' %}">
                                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                Reservacions
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="{% url 'nuevo_visita_vigilante' %}">
                                <i class="fa fa-male" aria-hidden="true"></i>
                                Visita
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="{% url 'nuevo_ingreso_vigilante' %}">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                Ingresos
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <h3 id="encabezado">
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                    {% block encabezado %}
                    {% endblock %}
                </h3>
                <br />
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{% url 'login'%}">Home</a>
                    <a class="breadcrumb-item" href="#">
                        {% block ruta %}
                        {% endblock %}
                    </a>
                </nav>
                {% block contenido %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'elegant/assets/node_modules/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'elegant/assets/node_modules/popper/popper.min.js' %}"></script>
    <script src="{% static 'elegant/assets/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'elegant/dist/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'elegant/dist/js/waves.js' %}"></script>
    <script src="{% static 'elegant/dist/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'elegant/dist/js/custom.min.js' %}"></script>
    <script src="{% static 'elegant/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'elegant/assets/node_modules/d3/d3.min.js' %}"></script>
    <script src="{% static 'elegant/assets/node_modules/c3-master/c3.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>