<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{% static 'css/elegant-icons-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <!-- Full Calendar -->
    <link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
    <!-- Agregados por mi -->
    <link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet">
    <link href="{% static 'css/widgets.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/xcharts.min.css' %}" rel=" stylesheet">
    <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
</head>

<body>
    <section id="container">
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>
            <a href="{% url 'login' %}" class="logo">PRIVADA <span class="lite">ROBLE</span></a>
            <div class="top-nav notification-row">
                <ul class="nav pull-right top-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span id="username" class="username">
                                {{ request.user }}
                            </span>
                            <b class="caret">
                            </b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up">
                            </div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_profile"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="{% url 'logout_privada' %}"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <ul class="sidebar-menu">
                    <!--<li id="menu_areacomun" class="sub-menu">
                    <a href="javascript:;">
                        <i class="icon_document_alt">
                        </i>
                        <span>Anuncios</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li>
                            <a id='anuncios' href="{% url 'imagenAnuncios_obtener' %}">
                                Aununcios
                            </a>
                        </li>
                        <li>
                            <a id='financiero' href="{% url 'imagenIngresos_obtener' %}">
                                Financiero
                            </a>
                        </li>
                    </ul>
                </li>-->
                    <li id="menu_areacomun" class="sub-menu">
                        <a id='reservacions' href="{% url 'nuevo_reservacion_colono' %}">
                            <i class="icon_document_alt">
                            </i>
                            Reservacions
                        </a>
                    </li>
                    <li id="menu_egreso" class="sub-menu">
                        <a id='ingresos' href="{% url 'nuevo_ingreso_vigilante' %}">
                            <i class="icon_document_alt">
                            </i>
                            Ingresos $
                        </a>
                    </li>
                    <li id="menu_sancion" class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon_document_alt"></i>
                            <span>Sancion</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a id='sancions'>
                                    Sancions
                                </a>
                            </li>
                            <li>
                                <a id='reportevecinos'>Reporte Vecinos</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu_vehiculo" class="sub-menu">
                        <a id='vehiculos'>
                            <i class="icon_document_alt"></i>
                            Vehiculos
                        </a>
                    </li>
                    <li id="menu_visitante" class="sub-menu">
                        <a href="{%  url 'nuevo_visita' %}">
                            <i class="icon_document_alt"></i>
                            <span>Visitantes</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <section id="main-content">
            <section class="wrapper">
                <!--overview start-->
                <div class="row">
                    <div class="col-lg-12">
                        <h3 id="encabezado">
                            <i class="fa fa-file-text-o">
                                {% block encabezado %}
                                {% endblock %}
                            </i>
                        </h3> <br>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="{% url 'login' %}">Home</a></li>
                            <li><i class="fa fa-laptop">
                                    {% block ruta %}
                                    {% endblock %}
                                </i></li>
                        </ol>
                    </div>
                </div>
                {% block contenido %}
                {% endblock %}
            </section>
            <div class="text-right">
                <div class="credits">
                </div>
            </div>
        </section>
        <div class="text-right">
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </section>
    <!-- container section end -->
    <!-- javascripts -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- nice scroll -->
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <!--custome script for all page-->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!--mios-->
    {% block scripts %}
    {% endblock %}
</body>

</html>