{% extends 'index2.html' %}
{% block titulo %}
colonos
{% endblock %}
{% block encabezado %}
Lista de colono
{% endblock %}
{% block ruta %}
<a href="{% url 'nuevo_colono' %}">colono</a>
{% endblock %}
{% block contenido %}
<a href="{% url 'nuevo_colono' %}">Nuevo</a>
{% if error %}
<div class='alert alert-danger'>{{ error }}</div>
{% endif %}
<div class='row'>
    <div class='col-lg-12'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                colonos
            </div>
            <div class='panel-body'>
                <div class='table-responsive'>
                    <table id='tabla' class='table table-striped table-bordered table-hover' id='dataTables-example'>
                        <tr>
                            <th>Nombre</th>
                            <th>Genero</th>
                            <th>Email</th>
                            <!--<th>Acepta visitas</th>-->
                            <!--<th>Domicilio</th>-->
                            <!--<th>Titular</th>-->
                            <th>Telefono celular</th>
                            <th>Telefono fijo</th>
                            <th>Opciones</th>
                        </tr>
                        {% for colono in colonos %}
                        <tr>
                            <td>{{ colono.last_name |default:''}}
                                {{ colono.amaterno |default:''}}
                                {{ colono.first_name |default:''}}</td>
                            {% if colono.genero == 'F' %}
                            <td>Femenino</td>
                            {% else %}
                            <td>Masculino</td>
                            {% endif %}
                            <td>
                                {% if colono.email != 'noaplica@noaplica.com'%}
                                {{ colono.email }}
                                {% endif %}
                            </td>
                            <!--{% if colono.acepta_visitas == 1 %}
                        <td>Si</td>
                        {% else %}
                        <td>No</td>
                        {% endif %}-->
                            <!--<td>{{ domicilio |default:''}}</td>-->
                            <!--{% if domicilio.titular == .colono %}
                        <td>Si</td>
                        {% else %}
                        <td>No</td>
                        {% endif %}-->
                            <td>{{ colono.telefono_celular |default:''}}</td>
                            <td>{{ colono.telefono_fijo |default:''}}</td>
                            <td>
                                {% if colono.email != 'noaplica@noaplica.com' and colono.is_active == 0 %}
                                <button class="btn btn-success" onclick="activarColono({{ colono.id }})">
                                    enviar
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script>
function activarColono(parametro) {
    $.ajax({
        url: "/colono/enviar",
        type: "GET",
        data: {
            id: parametro
        },
        success: function(data) {
            console.log("exito");
        },
        error: function(xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
            console.log(errmsg)
            console.log(err)
        }
    });
};
</script>
{% endblock %}