<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    {% load static %}
    <link href="{% static 'elegant/assets/node_modules/morrisjs/morris.css' %}" rel="stylesheet">
    <link href="{% static 'elegant/assets/node_modules/c3-master/c3.min.css' %}" rel="stylesheet">
    <link href="{% static 'elegant/dist/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'elegant/dist/css/pages/dashboard1.css' %}" rel="stylesheet">
    <link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
    <!-- Agregados por mi -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet">
    <link href="{% static 'css/widgets.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fa-icons/css/font-awesome.min.css' %}">
    <style>
        .pm-1{
            margin-top:1px; 
            padding-top:1px; 
            margin-bottom: 1px; 
            padding-bottom: 1px;
        }
    </style>
</head>

<body class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <li class="nav-item hidden-sm-up">
                    <a class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)">
                        <label style="color:white"><i class="fa fa-bars"></i></label>
                    </a>
                </li>
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'login'%}">
                        <h3 class="letras_logo">
                            Privada
                            <label class="nivel2">Roble</label>
                        </h3>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul style="width:80%">
                    </ul>
                    <ul class="navbar-nav">
                        <div class="dropdown">
                            <a class="dropdown-toggle text-muted waves-effect btn" style="border:solid 1px" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle-o ">
                                </i> <label style="margin-left:2px; margin-right:2px">{{ request.user }}</label>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #aab7b8;">
                                <a href="{% url 'logout_privada' %}" class="dropdown-item">Salir</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)">
                    <label style="color:white"><i class="fa fa-bars"></i></label>
                </a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)">
                    <label style="color:white"><i class="fa fa-bars"></i></label>
                </a>
            </div>
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a class="waves-effect" data-toggle="collapse" aria-expanded="false" href="#opcionAnuncios">
                                <i class="fa fa-tachometer"></i>
                                Anuncios
                            </a>
                            <ul class="collapse" id="opcionAnuncios">
                                <li><a id="anuncio" class='' href="{% url 'nuevo_imagenAnuncios' %}">Anuncios</a></li>
                                <li><a id="imagenIngreso" class='' href="{% url 'nuevo_imagenIngresos' %}">Ingreso & Egresos</a></li>
                                <li><a id="reunion" class='' href="{% url 'nuevo_reunion' %}">Reuniones</a></li>
                                <li><a id="reglamento" class='' href="{% url 'nuevo_reglamento' %}">Reglamento</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" data-toggle="collapse" aria-expanded="false" href="#opcionDomicilio">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Domicilio
                            </a>
                            <ul class="collapse" id="opcionDomicilio">
                                <li><a id="calles" class='' href="{% url 'nuevo_calle' %}">Calle</a></li>
                                <li><a id="tipo_domicilio" class='' href="{% url 'nuevo_tipodomicilio' %}">Tipo Domicilio</a></li>
                                <li><a id="colono_domicilio" class='' href="{% url 'nuevo_colonodomicilio' %}">Colono Domicilio</a></li>
                                <li><a id="domicilios" class='' href="{% url 'nuevo_domicilio' %}">Domicilios</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" data-toggle="collapse" aria-expanded="false" href="#opcionAreas">
                                <i class="fa fa-birthday-cake"></i>
                                Areas Comunes
                            </a>
                            <ul class="collapse" id="opcionAreas">
                                <li><a id='tipoeventos' class='' href="{% url 'nuevo_tipoevento' %}">Tipo Eventos</a></li>
                                <li><a id='areacomuns' class='' href="{% url 'nuevo_areacomun' %}">Area Comuns</a></li>
                                <li><a id='reservacions' class='' href="{% url 'nuevo_reservacion' %}">Reservacions</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" data-toggle="collapse" aria-expanded="false" href="#opcionAsociacion">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                Asociacion Colonos
                            </a>
                            <ul class="collapse" id="opcionAsociacion">
                                <li>
                                    <a id='administracions' class='' href="{% url 'nuevo_administracion' %}">
                                        Administracion
                                    </a>
                                </li>
                                <li>
                                    <a id='asociacions' class='' href="{% url 'nuevo_asociacion' %}">
                                        Asociacions
                                    </a>
                                </li>
                                <li>
                                    <a id='puestos' class='' href="{% url 'nuevo_puesto' %}">
                                        Puestos
                                    </a>
                                </li>
                                <li>
                                    <a id='reportevecinos' class='' href="{% url 'nuevo_reportevecino' %}">
                                        Reporte Vecinos
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" data-toggle="collapse" aria-expanded="false" href="#opcionEgresos">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                Egresos
                            </a>
                            <ul class="collapse" id="opcionEgresos">
                                <li>
                                    <a id="tipoegresos" class='' href="{% url 'nuevo_tipoegreso' %}">
                                        Tipo Egresos
                                    </a>
                                </li>
                                <li>
                                    <a id='egresos' class='' href="{% url 'nuevo_egreso' %}">
                                        Egresos
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" data-toggle="collapse" aria-expanded="false" href="#opcionIngresos">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                Ingresos
                            </a>
                            <ul class="collapse" id="opcionIngresos">
                                <li>
                                    <a id='tipoingresos' class='' href="{% url 'nuevo_tipoingreso' %}">
                                        Tipo Ingresos
                                    </a>
                                </li>
                                <li>
                                    <a id='ingresos' class='' href="{% url 'nuevo_ingreso' %}">
                                        Ingresos
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" data-toggle="collapse" aria-expanded="false" href="#opcionMascotas">
                                <i class="fa fa-paw" aria-hidden="true"></i>
                                Mascotas
                            </a>
                            <ul class="collapse" id="opcionMascotas">
                                <li>
                                    <a id='mascotas' class='' href="{% url 'nuevo_mascota' %}">
                                        Mascotas
                                    </a>
                                </li>
                                <li>
                                    <a id='colonomascotas' class='' href="{% url 'nuevo_colonomascota' %}">
                                        Colono Mascotas
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" data-toggle="collapse" aria-expanded="false" href="#opcionSancion">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Sancion
                            </a>
                            <ul class="collapse" id="opcionSancion">
                                <li>
                                    <a id='tiposancions' class='' href="{% url 'nuevo_tiposancion' %}">
                                        Tipo Sancions
                                    </a>
                                </li>
                                <li>
                                    <a id='sancions' class='' href="{% url 'nuevo_sancion' %}">
                                        Sancions
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="{% url 'nuevo_colono' %}">
                                <i class="fa fa-address-book" aria-hidden="true"></i>
                                Colonos
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="{% url 'nuevo_vigilante' %}">
                                <i class="fa fa-male" aria-hidden="true"></i>
                                Vigilantes
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" data-toggle="collapse" aria-expanded="false" href="#opcionVehiculos">
                                <i class="fa fa-car" aria-hidden="true"></i>
                                Vehiculos
                            </a>
                            <ul class="collapse" id="opcionVehiculos">
                                <li>
                                    <a id='vehiculos' class='' href="{% url 'nuevo_vehiculo' %}">
                                        Vehiculos
                                    </a>
                                </li>
                                <li>
                                    <a id='colonovehiculos' class='' href="{% url 'nuevo_colonovehiculo' %}">
                                        Colono Vehiculos
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" data-toggle="collapse" aria-expanded="false" href="#opcionVisitantes">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                Visitantes
                            </a>
                            <ul class="collapse" id="opcionVisitantes">
                                <li>
                                    <a id='tipopersonaajenas' class='' href="{% url 'nuevo_tipopersonaajena' %}">
                                        Tipo Persona Ajenas
                                    </a>
                                </li>
                                <li>
                                    <a id='personaajenas' class='' href="{% url 'nuevo_personaajena' %}">
                                        Persona Ajenas
                                    </a>
                                </li>
                                <li>
                                    <a id='visitaautorizadas' class='' href="{% url 'nuevo_visitaautorizada' %}">
                                        Visita Autorizadas
                                    </a>
                                </li>
                                <li>
                                    <a id='vehiculovisitantes' class='' href="{% url 'nuevo_vehiculovisitante' %}">
                                        Vehiculo Visitantes
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <h3 id="encabezado">
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                    {% block encabezado %}
                    {% endblock %}
                </h3>
                <br />
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{% url 'login'%}">Home</a>
                    <a class="breadcrumb-item" href="#">
                        {% block ruta %}
                        {% endblock %}
                    </a>
                </nav>
                {% block contenido %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'elegant/assets/node_modules/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'elegant/assets/node_modules/popper/popper.min.js' %}"></script>
    <script src="{% static 'elegant/assets/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'elegant/dist/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'elegant/dist/js/waves.js' %}"></script>
    <script src="{% static 'elegant/dist/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'elegant/dist/js/custom.min.js' %}"></script>
    <script src="{% static 'elegant/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'elegant/assets/node_modules/d3/d3.min.js' %}"></script>
    <script src="{% static 'elegant/assets/node_modules/c3-master/c3.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>