{% extends 'index2.html' %}
{% block titulo %}
{{ accion }}Colono
{% endblock %}
{% block encabezado %}
{{ accion }}Colono
{% endblock %}
{% block ruta %}
<a href="#">Colono</a>
{% endblock %}
{% block contenido %}
<div class="row" id="contenido">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} Colono</h1>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div id="alerta" class="alert alert-info">
                    <p>
                        Completa el formulario
                    </p>
                </div>
                <form id="form" method='POST' name="formulario">
                    {% csrf_token %}
                    <div class='row'>
                        {% for field in formulario %}
                        <div class="col-4">{{ field.label_tag }}</div>
                        <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                        {% endfor %}
                        <div class="col-4">Domicilio:</div>
                        <div class="col-8"><select id="id_domicilio"></select></div>
                        <div class="col-12"><hr class="pm-1"></div>
                    </div>
                </form>
                <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="cancelar()">
                    Cerrar
                </button>
                <button id="btn_guardar" class="btn btn-success" aria-label="guardar" onclick="guardar()">
                    <label>Guardar</label>
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <table class='table'>
                    <tr>
                        <td>
                            <h1>Colonos</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Búsqueda</h4>
                            <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                        </td>
                        <td align="center">
                            <h3></h3>
                            <a class="btn btn-info" align="center" href="{% url 'lista_colono'%}">
                                Detalles
                            </a>
                        </td>
                    </tr>
                </table>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div class='table-responsive'>
                    <table id='tabla' class='table table-striped table-bordered table-hover table-sm '>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Nombre</th>
                                <th onclick="sortTable2(1)" style="cursor:pointer">Telefono celular</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Telefono_fijo</th>-->
                                <th onclick="sortTable2(2)" style="cursor:pointer">Email</th>
                                <th onclick="sortTable2(3)" style="cursor:pointer">UserName</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="body_tabla">
                            {% for colono in colonos %}
                            <tr id='info'>
                                <td>{{colono.first_name|default:''}}
                                    {{colono.last_name|default:''}}
                                    {{colono.amaterno|default:''}}</td>
                                <td>{{colono.telefono_celular|default:''}}</td>
                                <!--<td>{{colono.telefono_fijo|default:''}}</td>-->
                                <!--<td>
                                                {% if colono.acepta_visitas == 1 %}
                                                    Si
                                                {% else %}
                                                    No
                                                {% endif %}

                                            </td>-->
                                <td>{{colono.email|default:''}}</td>
                                <td>{{colono.username|default:''}}</td>
                                <td>
                                    <a id='change-colono' class="btn btn-info btn-sm" data-toggle="tooltip" title="Editar" onclick="cargarEdicionColono({{ colono.id }})">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a id='delete-colono' data-target='#myModal2' onclick="cargarEliminacionColono({{ colono.id }})" class='btn btn-danger btn-sm' title="Eliminar" data-toggle='modal'>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-warning" onclick="todosTablaColono()"> Todos </button>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end pagination-xs">
                            {% for i in totales %}
                            <li style="margin:0px; padding-left:2px" class="page-item" id='pagina{{ forloop.counter }}'><a style="margin:0px; padding:5px" class="page-link" onclick="obtener10({{ forloop.counter }})">{{ forloop.counter }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'> Confirmaci&oacute;n </h4>
            </div>
            <div class='modal-body'>
                Esta seguro de eliminar el elemento
            </div>
            <div class='modal-footer'>
                <button data-dismiss='modal' class='btn btn-danger' type='button'>
                    No
                </button>
                <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-success' type='button'>
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/colono.js"></script>
<script type='text/javascript'>
window.addEventListener("load", function(event) {
    //obtener10(1);
    $("#form")[0].reset();
    contenido
    $('#contenido').css('height', '12500px');
    //$('#contenido').css('width', '300px');
});
$('#id_calle').change(function() {
    $('#id_domicilio').children().remove();

    cambiaCalle($('#id_calle').val())
    //alert('cambia calle');

});

function cambiaCalle(parametro) {
    $.ajax({
        data: { 'id': parametro },
        url: '/domicilios/domicilios_por_calle',
        type: 'GET',
        success: function(data) {
            $('#id_domicilio').children().remove();
            for (i = 0; i < data.length; i++) {
                //console.log(data[i]['num_domicilio']+' '+data[i]['calle']);
                $("#id_domicilio").append('<option value=' + data[i]['id'] + '>' + data[i]['num_domicilio'] + ' ' + data[i]['calle'] + '</option>');

            }
        },
        error: function(xhr, errmsg, err) {
            console.log(xhr.responseText);
        }
    });
}
</script>
{% endblock %}