{% extends 'base_colono2.html' %}
{% block titulo %}
Principal Colono
{% endblock %}
{% block encabezado %}
Principal Colono
{% endblock %}
{% block ruta %}
Principal Colono
{% endblock %}
{% block contenido %}
<div class="row" style="width: 100%">
    {% load static %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a title="Visita" href="{% url 'nuevo_visita' %}" style="margin-left: 8%">
            <img src="{% static 'icons/visitas.png' %}">
        </a>
        <a title="Macota" href="{% url 'nuevo_mascota_colono' %}" style="margin-left: 8%">
            <img src="{% static 'icons/mascotas.png' %}">
        </a>
        <a title="Reservacion" href="{% url 'nuevo_reservacion_colono' %}" style="margin-left: 8%">
            <img src="{% static 'icons/reservacion.png' %}">
        </a>
        <a title="Ingresos" href="{% url 'imagenFinanciero_obtener' %}" style="margin-left: 8%">
            <img src="{% static 'icons/dinero1.png' %}">
        </a>
        <a title="Anuncios" href="{% url 'imagenAnuncios_obtener' %}" style="margin-left: 8%">
            <img src="{% static 'icons/pdf.png' %}">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 portlets">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <strong>
                        Anuncios
                    </strong>
                </h2>
                <div class="panel-actions">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tabla_anuncios">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>
$(document).ready(
    function() {
        $.ajax({
            url: 'anuncios/anuncios_obtener',
            type: "GET",
            data: {},
            success: function(data) {

                $("#tabla_anuncios").append(
                    "<tr>" +
                    "<th onclick='sortTable2(0)' style='cursor:pointer; width:30%' >Titulo</th>" +
                    "<th onclick='sortTable2(1)' style='cursor:pointer' >Imagen</th>" +
                    "</tr>"
                );
                for (i = data.length - 1; i >= 0; i--) {
                    $("#tabla_anuncios").append(
                        "<tr>" +
                        "<td><a href='/media/" + data[i]['foto'] + "'>" + data[i]['titulo'] + "</a></td>" +
                        "<td><img src='/media/" + data[i]['foto'] + "' width='50%' height='25%'></img></td>" +
                        "</tr>");
                }
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
                console.log(errmsg)
                console.log(err)
            }
        })
    }
);
</script>
{% endblock %}