<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{% static 'css/elegant-icons-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <!-- Full Calendar -->
    <link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
    <!-- Agregados por mi -->
    <link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet">
    <link href="{% static 'css/widgets.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/xcharts.min.css' %}" rel=" stylesheet">
    <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
</head>

<body>
    <!-- container section start -->
    <section id="container" class="">
        <!--header start-->
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>
            <!--logo start-->
            <a href="{% url 'login' %}" class="logo">PRIVADA <span class="lite">ROBLE</span></a>
            <!--logo end-->
            <!-- NOTIFICACIONES -->
            <div class="top-nav notification-row">
                <ul class="nav pull-right top-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="{% static 'img/avatar1_small.jpg' %}">
                            </span>
                            <span id="username" class="username">
                                {{ request.user }}
                            </span>
                            <b class="caret">
                            </b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up">
                            </div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_profile"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="{% url 'logout_privada' %}"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <ul class="sidebar-menu">
                    <li id="menu_anuncio" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Anuncios</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a id="anuncio" class='' href="{% url 'nuevo_imagenAnuncios' %}">Anuncios</a></li>
                            <li><a id="imagenIngreso" class='' href="{% url 'nuevo_imagenIngresos' %}">Ingreso & Egresos</a></li>
                            <li><a id="reunion" class='' href="{% url 'nuevo_reunion' %}">Reuniones</a></li>
                            <li><a id="reglamento" class='' href="{% url 'nuevo_reglamento' %}">Reglamento</a></li>
                        </ul>
                    </li>
                    <li id="menu_domicilio" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Domicilio</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a id="calles" class='' href="{% url 'nuevo_calle' %}">Calle</a></li>
                            <li><a id="tipo_domicilio" class='' href="{% url 'nuevo_tipodomicilio' %}">Tipo Domicilio</a></li>
                            <li><a id="colono_domicilio" class='' href="{% url 'nuevo_colonodomicilio' %}">Colono Domicilio</a></li>
                            <li><a id="domicilios" class='' href="{% url 'nuevo_domicilio' %}">Domicilios</a></li>
                        </ul>
                    </li>
                    <li id="menu_areacomun" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Areas Comunes</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a id='tipoeventos' class='' href="{% url 'nuevo_tipoevento ' %}">Tipo Eventos</a></li>
                            <li><a id='areacomuns' class='' href="{% url 'nuevo_areacomun ' %}">Area Comuns</a></li>
                            <li><a id='reservacions' class='' href="{% url 'nuevo_reservacion ' %}">Reservacions</a></li>
                        </ul>
                    </li>
                    <li id="menu_asociacion" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Asociacion Colonos</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a id='administracions' class='' href="{% url 'nuevo_administracion' %}">
                                    Administracion
                                </a>
                            </li>
                            <li>
                                <a id='puestos' class='' href="{% url 'nuevo_puesto' %}">
                                    Puestos
                                </a>
                            </li>
                            <li>
                                <a id='asociacions' class='' href="{% url 'nuevo_asociacion' %}">
                                    Asociacions
                                </a>
                            </li>
                            <li>
                                <a id='reportevecinos' class='' href="{% url 'nuevo_reportevecino' %}">
                                    Reporte Vecinos
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu_egreso" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Egresos</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a id="tipoegresos" class='' href="{% url 'nuevo_tipoegreso' %}">
                                    Tipo Egresos
                                </a>
                            </li>
                            <li>
                                <a id='egresos' class='' href="{% url 'nuevo_egreso' %}">
                                    Egresos
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu_ingreso" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Ingresos</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a id='tipoingresos' class='' href="{% url 'nuevo_tipoingreso' %}">
                                    Tipo Ingresos
                                </a>
                            </li>
                            <li>
                                <a id='ingresos' class='' href="{% url 'nuevo_ingreso' %}">
                                    Ingresos
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu_mascota" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Mascotas</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a id='mascotas' class='' href="{% url 'nuevo_mascota' %}">
                                    Mascotas
                                </a>
                            </li>
                            <li>
                                <a id='colonomascotas' class='' href="{% url 'nuevo_colonomascota' %}">
                                    Colono Mascotas
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu_sancion" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Sancion</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a id='tiposancions' class='' href="{% url 'nuevo_tiposancion' %}">
                                    Tipo Sancions
                                </a>
                            </li>
                            <li>
                                <a id='sancions' class='' href="{% url 'nuevo_sancion' %}">
                                    Sancions
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu_colono" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Colonos</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a id='colonos' class='' href="{% url 'nuevo_colono' %}">
                                    Colonos
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu_vehiculo" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Vehiculos</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a id='vehiculos' class='' href="{% url 'nuevo_vehiculo' %}">
                                    Vehiculos
                                </a>
                            </li>
                            <li>
                                <a id='colonovehiculos' class='' href="{% url 'nuevo_colonovehiculo' %}">
                                    Colono Vehiculos
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu_visitante" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Visitantes</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a id='tipopersonaajenas' class='' href="{% url 'nuevo_tipopersonaajena' %}">
                                    Tipo Persona Ajenas
                                </a>
                            </li>
                            <li>
                                <a id='personaajenas' class='' href="{% url 'nuevo_personaajena' %}">
                                    Persona Ajenas
                                </a>
                            </li>
                            <li>
                                <a id='visitaautorizadas' class='' href="{% url 'nuevo_visitaautorizada' %}">
                                    Visita Autorizadas
                                </a>
                            </li>
                            <li>
                                <a id='vehiculovisitantes' class='' href="{% url 'nuevo_vehiculovisitante' %}">
                                    Vehiculo Visitantes
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu_respaldo" class="sub-menu">
                        <a id='respaldo' class='' href="{% url 'subir_archivo' %}">
                            Respaldo
                        </a>
                    </li>
                    <li id="menu_vigilantes" class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Vigilantes</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>
                                <a id='vigilantes' class='' href="">
                                    Vigilante
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
        <section id="main-content">
            <section class="wrapper">
                <!--overview start-->
                <div class="row">
                    <div class="col-lg-12">
                        <h3 id="encabezado" class=""><i class="fa fa-file-text-o">
                                {% block encabezado %}
                                {% endblock %}
                            </i> </h3>
                        Guardar
                        <br>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="{% url 'login' %}">Home</a></li>
                            <li><i class="fa fa-laptop">
                                    {% block ruta %}
                                    {% endblock %}
                                </i></li>
                        </ol>
                    </div>
                </div>
                {% block contenido %}
                {% endblock %}
            </section>
            <div class="text-right">
                <div class="credits">
                </div>
            </div>
        </section>
        <div class="text-right">
            <div class="credits">
                <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </section>
    <!-- container section end -->
    <!-- javascripts -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- nice scroll -->
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <!--custome script for all page-->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!--mios-->
    {% block scripts %}
    {% endblock %}
</body>

</html>