{% extends 'index2.html' %}
{% block titulo %}
Principal
{% endblock %}
{% block encabezado %}
Principal
{% endblock %}
{% block ruta %}
Principal
{% endblock %}
{% block contenido %}
{% load static %}
<link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
<link rel='stylesheet' type='text/css' href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.print.css' %}" media='print' />
<script src="{% static 'js/funciones/calendario.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<link href="{% static 'packages/core/main.css'%}" rel='stylesheet' />
<link href="{% static 'packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static '/packages/timegrid/main.css'%}" rel='stylesheet' />
<link href="{% static '/packages/list/main.css'%}" rel='stylesheet' />
<script src="{% static '/packages/core/main.js'%}"></script>
<script src="{% static '/packages/interaction/main.js'%}"></script>
<script src="{% static '/packages/daygrid/main.js'%}"></script>
<script src="{% static '/packages/timegrid/main.js'%}"></script>
<script src="{% static '/packages/list/main.js'%}"></script>
<script src="{% static '/packages/list/main.js'%}"></script>
<link href="{% static 'css/calendario.css'%}" rel='stylesheet' />
<div class="row">
    <div class="col-lg-12 col-md-12 portlets">
        <a id='change-egreso' class="btn btn-info btn-sm" data-toggle="tooltip" title="Colono" href="{% url 'perfil_colono'%}"> Perfil Colono </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 portlets">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    Mapa
                </h2>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-153" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','153')">153</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-151" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','151')">151</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-149" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','149')">149</button>
                        </td>
                        <td>
                            <label>
                                C<br>
                                E<br>
                                R
                            </label>
                            <label style="visibility: hidden;">__</label>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-101" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','101')">1</br>0</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-103" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','103')">1</br>0</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-105" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','105')">1</br>0</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-107" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','107')">1</br>0</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-109" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','109')">1</br>0</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-111" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','111')">1</br>1</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-113" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','113')">1</br>1</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-115" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','115')">1</br>1</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-117" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','117')">1</br>1</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-119" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','119')">1</br>1</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-121" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','121')">1</br>2</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-123" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','123')">1</br>2</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-125" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','125')">1</br>2</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-127" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','127')">1</br>2</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-129" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','129')">1</br>2</br>9</button>
                        </td>
                        <td>
                            <label>
                                C<br>
                                E<br>
                                R
                            </label>
                            <label style="visibility: hidden;">__</label>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-101" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','101')">101</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-103" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','103')">103</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-105" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','105')">105</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-147" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','147')">147</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-145" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','145')">145</button>
                        </td>
                        <td colspan="2">
                            R<br>
                            O
                        </td>
                        <td colspan="14"><label>SIERRA DE TAMAULIPAS</label></td>
                        <td>
                            <label>
                                R<br>
                                I
                            </label>
                            <label style="visibility: hidden;">___</label>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-107" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','107')">107</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-109" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','109')">109</button>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-143" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','143')">143</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-141" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','141')">141</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-139" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','139')">139</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-137" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','137')">137</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-135" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','135')">135</button>
                        </td>
                        <td>
                            <label>
                                D<br>
                                E<br>
                            </label>
                            <label style="visibility: hidden;">___</label>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-102" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','102')">1</br>0</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-101" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','101')">1</br>0</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-104" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','104')">1</br>0</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-103" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','103')">1</br>0</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-106" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','106')">1</br>0</br>6</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-105" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','105')">1</br>0</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-108" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','108')">1</br>0</br>8</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-107" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','107')">1</br>0</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-110" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','110')">1</br>1</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-109" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','109')">1</br>0</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-112" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','112')">1</br>1</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-111" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','111')">1</br>1</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-114" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','114')">1</br>1</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-113" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','113')">1</br>1</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-116" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','116')">1</br>1</br>6</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-115" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','115')">1</br>1</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-118" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','118')">1</br>1</br>8</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-117" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','117')">1</br>1</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="TAMAULIPAS-120" data-toggle="modal" href="#myModal" onclick="abrirModal('TAMAULIPAS','120')">1</br>2</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-119" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','119')">1</br>1</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" style=" visibility: hidden">1</br>1</br>9</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-121" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','121')">1</br>2</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" style=" visibility: hidden">1</br>1</br>9</button><br>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-123" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','123')">1</br>2</br>3</button>
                        </td>
                        <td style=" visibility: hidden">
                            <button>1</button>
                        </td>
                        <td style=" visibility: hidden">
                            <button>1</button>
                        </td>
                        <td style=" visibility: hidden">
                            <button>1</button>
                        </td>
                        <td>
                            <label>
                                T<br>
                                O<br>
                                <br>
                                <br>
                                D<br>
                                E
                            </label>
                            <label style="visibility: hidden;">___</label>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-111" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','111')">111</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-113" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','113')">113</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-115" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','115')">115</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-117" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','117')">117</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-119" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','119')">119</button>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-133" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','133')">133</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-131" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','131')">131</button>
                        </td>
                        <td colspan="3" />
                        <td colspan="22">SIERRA DE GUANAJUATO</td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-121" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','121')">121</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-123" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','123')">123</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-129" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','129')">129</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-127" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','127')">127</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-125" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','125')">125</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-123" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','123')">123</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-121" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','121')">121</button>
                        </td>
                        <td>
                            <label>
                                L<br>
                                A<br>
                            </label>
                        </td>
                        <td>
                            <label style="visibility: hidden;">
                                __
                            </label>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-102" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','102')">1</br>0</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-101" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','101')">1</br>0</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-104" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','104')">1</br>0</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-103" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','103')">1</br>0</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-106" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','106')">1</br>0</br>6</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-105" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','105')">1</br>0</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-108" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','108')">1</br>0</br>8</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-107" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','117')">1</br>0</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-110" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','110')">1</br>1</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-109" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','109')">1</br>0</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-112" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','112')">1</br>1</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-111" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','111')">1</br>1</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-114" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','114')">1</br>1</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-113" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','113')">1</br>1</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-116" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','116')">1</br>1</br>6</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-115" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','115')">1</br>1</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-118" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','118')">1</br>1</br>8</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-117" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','117')">1</br>1</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-120" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','120')">1</br>2</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-119" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','119')">1</br>1</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-122" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','122')">1</br>2</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-121" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','121')">1</br>2</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-124" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','124')">1</br>2</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-123" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','123')">1</br>2</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-126" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','126')">1</br>2</br>6</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-125" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','125')">1</br>2</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-128" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','128')">1</br>2</br>8</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-127" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','127')">1</br>2</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-130" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','130')">1</br>3</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-129" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','129')">1</br>2</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-132" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','132')">1</br>3</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-131" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','131')">1</br>3</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-134" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','134')">1</br>3</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-133" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','133')">1</br>3</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-136" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','136')">1</br>3</br>6</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-135" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','135')">1</br>3</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-138" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','138')">1</br>3</br>8</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-137" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','137')">1</br>3</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="GUANAJUATO-140" data-toggle="modal" href="#myModal" onclick="abrirModal('GUANAJUATO','140')">1</br>4</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-139" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','139')">1</br>3</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" style="visibility: hidden;">1</br>3</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-141" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','141')">1</br>4</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" style="visibility: hidden;">1</br>3</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-202" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','202')">2</br>0</br>2</button>
                        </td>
                        <td>
                            <label>
                                J<br>
                                E<br>
                                R<br>
                                E<br>
                                Z
                            </label>
                            <label style="visibility: hidden;">__</label>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-125" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','125')">125</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-127" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','127')">127</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-129" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','129')">129</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-131" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','131')">131</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-133" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','133')">133</button>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-119" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','119')">119</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-117" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','117')">117</button>
                        </td>
                        <td colspan="3" />
                        <td colspan="25">SIERRA SANTA CATALINA</td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-135" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','137')">135</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-137" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','137')">137</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-115" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','115')">115</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-113" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','113')">113</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-111" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','111')">111</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-109" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','109')">109</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-107" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','107')">107</button>
                        </td>
                        <td>
                            E<br>
                            S<br>
                            T<br>
                            R<br>
                            E<br>
                            L
                        </td>
                        <td style="visibility: hidden;" />
                        <label>
                            __
                        </label>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-102" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','102')">1</br>0</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-101" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','101')">1</br>0</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-104" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','104')">1</br>0</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-101A" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','101A')">1</br>0</br>1A</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-106" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','106')">1</br>0</br>6</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-103" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','103')">1</br>0</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-108" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','108')">1</br>0</br>8</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-105" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','105')">1</br>0</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-110" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','110')">1</br>1</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-107" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','107')">1</br>0</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-112" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','112')">1</br>1</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-109" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','109')">1</br>0</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-114" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','114')">1</br>1</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-111" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','111')">1</br>1</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-116" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','116')">1</br>1</br>6</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-113" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','113')">1</br>1</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-118" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','118')">1</br>1</br>8</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-115" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','115')">1</br>1</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-120" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','120')">1</br>2</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-117" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','117')">1</br>1</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-122" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','122')">1</br>2</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-119" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','119')">1</br>1</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-124" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','124')">1</br>2</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-121" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','121')">1</br>2</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-126" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','126')">1</br>2</br>6</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-123" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','123')">1</br>2</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-128" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','128')">1</br>2</br>8</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-125" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','125')">1</br>2</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-130" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','130')">1</br>3</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-127" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','127')">1</br>2</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-132" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','132')">1</br>3</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-129" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','129')">1</br>2</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-134" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','134')">1</br>3</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-131" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','131')">1</br>3</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-136" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','136')">1</br>3</br>6</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-133" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','133')">1</br>3</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-138" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','138')">1</br>3</br>8</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-135" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','135')">1</br>3</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-140" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','140')">1</br>4</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-137" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','137')">1</br>3</br>7</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-142" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','142')">1</br>4</br>2</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-139" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','139')">1</br>3</br>9</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CATALINA-144" data-toggle="modal" href="#myModal" onclick="abrirModal('CATALINA','144')">1</br>4</br>4</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-141" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','141')">1</br>4</br>1</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" style="visibility: hidden;">1</br>2</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-143" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','143')">1</br>4</br>3</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" style="visibility: hidden;">1</br>2</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-145" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','145')">1</br>4</br>5</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" style="visibility: hidden;">1</br>2</br>0</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-304" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','304')">3</br>0</br>4</button>
                        </td>
                        <td><label style="visibility: hidden;">___</label></td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-139" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','139')">139</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-141" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','141')">141</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-143" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','143')">143</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-145" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','145')">145</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-147" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','147')">147</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Acceso
                        </td>
                        <td colspan="3">
                            L<br>
                            A</td>
                        <td colspan="25">SIERRA DE LAS CRUCES</td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-149" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','149')">149</button><br>
                            <button class="btn btn-secondary btn-sm" id="JEREZ-151" data-toggle="modal" href="#myModal" onclick="abrirModal('JEREZ','151')">151</button>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-105" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','105')">105</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-103" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','103')">103</button><br>
                            <button class="btn btn-secondary btn-sm" id="ESTRELLA-101" data-toggle="modal" href="#myModal" onclick="abrirModal('ESTRELLA','101')">101</button>
                        </td>
                        <td>
                        <td><label style="visibility: hidden;">___</label></td>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-102" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','102')">1</br>0</br>2</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-104" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','104')">1</br>0</br>4</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-106" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','106')">1</br>0</br>6</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-108" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','108')">1</br>0</br>8</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-110" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','110')">1</br>1</br>0</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-112" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','112')">1</br>1</br>2</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-114" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','114')">1</br>1</br>4</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-116" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','116')">1</br>1</br>6</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-118" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','118')">1</br>1</br>8</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-120" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','120')">1</br>2</br>0</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-122" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','122')">1</br>2</br>2</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-124" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','124')">1</br>2</br>4</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-126" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','126')">1</br>2</br>6</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-128" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','128')">1</br>2</br>8</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-130" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','130')">1</br>3</br>0</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-132" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','132')">1</br>3</br>2</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-134" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','134')">1</br>3</br>4</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-136" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','136')">1</br>3</br>6</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-138" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','138')">1</br>3</br>8</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-140" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','140')">1</br>4</br>0</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-142" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','142')">1</br>4</br>2</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-144" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','144')">1</br>4</br>4</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" id="CRUCES-146" data-toggle="modal" href="#myModal" onclick="abrirModal('CRUCES','146')">1</br>4</br>6</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Domicilio</h4>
                </div>
                <div class="modal-body">
                    <table id='tabla_domicilio' class='class_tabla_domicilio table table-striped table-bordered table-hover'>
                        <thead>
                            <tr>
                                <td colspan="2">Información</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Calle</td>
                                <td><label id="calle_modal">koko</label></td>
                            </tr>
                            <tr>
                                <td>Numero</td>
                                <td><label id="numero_modal">koko</label></td>
                            </tr>
                            <tr>
                                <td>Titular</td>
                                <td><label id="titular_modal"></label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-success" type="button">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="id_formulario_temp" name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" name="calle_consultar">
    <input type="hidden" value="" name="num_consultar">
</form>
<div class="row">
    <div class="col-lg-1 col-md-1">
    </div>
    <div class="col-lg-5 col-md-5 col-sm-11 portlets">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    Reloj
                </h2>
            </div>
            <div class="panel-body">
                <div style="text-align:center;padding:1em 0;">
                    <h2>
                        <a style="text-decoration:none;" href="https://www.zeitverschiebung.net/es/city/3979844">
                            <span style="color:gray;">
                                Hora actual en
                            </span>
                            <br />
                            Zacatecas, México
                        </a>
                    </h2>
                    <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=large&timezone=America%2FMexico_City" width="100%" height="140" frameborder="0" seamless>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-11">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    Calendario
                </h2>
            </div><br><br><br>
            <div class="panel-body">
                <div id='calendarNuevo'>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/principal.js"></script>
<script type='text/javascript'>

</script>
{% endblock %}