{% extends 'index.html' %}
{% block titulo %}
colonos
{% endblock %}
{% block contenido %}
<h1 id="encabezado">Respaldo colonos</h1>
<a href='{% url ' nuevo_colono' %}'>Nuevo</a>
{% if error %}
<div class='alert alert-danger'>{{ error }}</div>
{% endif %}
<div class='row'>
    <div class='col-lg-12'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                colonos
            </div>
            <div class='panel-body'>
                <div class='table-responsive'>
                    <table id='tabla_sede' class='table table-striped table-bordered table-hover' id='dataTables-example'>
                        <tr>
                            <th>SQL</th>
                        </tr>
                        {% for colono in salida %}
                        <tr>
                            <td>{{ colono |default:''}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}