{% extends 'base_colono2.html' %}
{% block titulo %}
Anuncios
{% endblock %}
{% block encabezado %}
Anuncios
{% endblock %}
{% block ruta %}
<a href="#">Anuncios</a>
{% endblock %}
{% block contenido %}
<div class='panel'>
    <header class='panel-heading'>
    </header>
    <div class='panel-body'>
        <h1>Anuncios</h1>
        <div class="table-responsive">
            <table id='tabla_usuarios' width="100%" class="table">
                <tr>
                    <th>Título</th>
                    <th>Imagen</th>
                </tr>
                {% for dato in datos %}
                <tr>
                    <td><a href="/media/{{ dato.foto }}">{{ dato.titulo }}</a></td>
                    <td>
                        <p><img src="/media/{{ dato.foto }}" width="50%" height="25%"></p>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}