{% extends 'base_colono2.html' %}
{% block titulo %}
Informe de {{modulo}}
{% endblock %}
{% block encabezado %}
Informe de {{modulo}}
{% endblock %}
{% block ruta %}
<a href="#">{{modulo}}</a>
{% endblock %}
{% block contenido %}
<div class='panel'>
    <div class="panel-heading">
        <ul class='nav nav-tabs'>
            {% if modulo == 'Ingresos'%}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'imagenIngresos_obtener' %}">Informe de Ingresos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'imagenEgresos_obtener' %}">Informe de Egresos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'imagenFinanciero_obtener' %}">Informe de financiero</a>
            </li>
            {% elif modulo == 'Egresos' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'imagenIngresos_obtener' %}">Informe de Ingresos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'imagenEgresos_obtener' %}">Informe de Egresos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'imagenFinanciero_obtener' %}">Informe de financiero</a>
            </li>
            {% elif modulo == 'Finanicero' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'imagenIngresos_obtener' %}">Informe de Ingresos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'imagenEgresos_obtener' %}">Informe de Egresos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'imagenFinanciero_obtener' %}">Informe de financiero</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class='panel-body'>
        <h1>Informe {{modulo}}</h1>
        <div>
            <table id='tabla_usuarios' width="100%" class="table">
                <tr>
                    <th>Título</th>
                    <th>Documento</th>
                </tr>
                {% for dato in datos %}
                <tr>
                    <td><a href="/media/{{ dato.documento }}">{{ dato.titulo }}</a></td>
                    <td>
                        <p><object data="/media/{{ dato.documento }}" width="50%" height="300px" /></p>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}