{% extends 'base_colono2.html' %}
{% block titulo %}
{{ accion }}ReporteVecino
{% endblock %}
{% block encabezado %}
{{ accion }}ReporteVecino
{% endblock %}
{% block ruta %}
<a href="#">ReporteVecino</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <div id="alerta_exito" class="alert alert-success" role="alert" hidden="true" style="width: 25%">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <nav class="navbar">
                    <button id="btn_nuevo" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0" onclick="reporte_new()">
                        Nuevo
                    </button>
                </nav>
                <div class="collapse" id="div_formulario">
                    <div>
                        <div id="alerta" class="alert alert-info">
                            <p>
                                Completa el formulario
                            </p>
                        </div>
                        <form id="form" method='POST' name="formulario" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class='row'>
                                {% for field in formulario %}
                                <div class="col-4">{{ field.label_tag }}</div>
                                <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                                {% endfor %}
                            </div>
                            {% if accion == "Editar" %}
                            <a id="btn_cancelar" href="../reportevecino_nuevo" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario">
                                Cerrar
                            </a>
                            {% else %}
                            <button id="btn_cancelar" onkeypress="cancelar()" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario">
                                Cerrar
                            </button>
                            {% endif %}
                            <button id="btn_guardar" class="btn btn-success" aria-label="guardar">
                                <label>Guardar</label>
                            </button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class="panel-body">
                <table class='table'>
                    <th width="50%">
                        <h3>ReporteVecinos</h3>
                    </th>
                    <th>
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </th>
                </table>
                <div class='table-responsive'>
                    <table id='tabla' class='class_tabla table table-striped table-bordered table-hover'>
                        <tr>
                            <th onclick="sortTable2(0)" style="cursor:pointer">Colono</th>
                            <th onclick="sortTable2(1)" style="cursor:pointer">Fecha</th>
                            <th onclick="sortTable2(2)" style="cursor:pointer">Observaciones</th>
                            <th onclick="sortTable2(3)" style="cursor:pointer">Foto</th>
                        </tr>
                        {% for reportevecino in reportevecinos %}
                        <tr id='info'>
                            <td>{{reportevecino.colono|default:''}}</td>
                            <td>{{reportevecino.fecha|default:''}}</td>
                            <td>{{reportevecino.observaciones|default:''}}</td>
                            <td><a href="/media/{{reportevecino.foto|default:''}}">Imagen</a></td>
                            <!--<td>
                                    <a id='change' href="'editar' reportevecino.id">
                                        Editar
                                    </a>
                                    <br>
                                    <a id='delete'
                                        href='#myModal2'
                                        onclick="cargarEliminacionReporteVecino({{ reportevecino.id }})"
                                        class='a_eliminar' data-toggle='modal'
                                    >
                                        Eliminar
                                    </a>
                                </td>-->
                        </tr>
                        {% endfor %}
                        <div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
                            <div class='modal-dialog'>
                                <div class='modal-content'>
                                    <div class='modal-header'>
                                        <h4 class='modal-title'> Confirmaci&oacute;n </h4>
                                    </div>
                                    <div class='modal-body'>
                                        Esta seguro de eliminar el elemento
                                    </div>
                                    <div class='modal-footer'>
                                        <button data-dismiss='modal' class='btn btn-secondary' type='button'>
                                            No
                                        </button>
                                        <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-warning btn_si_eliminar' type='button' onclick="eliminar()">
                                            Si
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>

</script>
<script src="/static/js/funciones/reporteVecino.js"></script>
{% endblock %}