{% extends 'base_colono2.html' %}
{% block titulo %}
{{ accion }} Ingreso
{% endblock %}
{% block encabezado %}
{{ accion }} Ingreso
{% endblock %}
{% block ruta %}
<a href="#">Ingreso</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-8">
                        <h1>Ingresos</h1>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </div>
                </div>
                <div id="alerta_exito2" class="alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div class='table-responsive' style="margin-top: 1%">
                    <table id='tabla' class='class_tabla table table-striped table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th onclick="sortTable2(0)" style="cursor:pointer">Colono</th>
                                <th onclick="sortTable2(1)" style="cursor:pointer">Tipo</th>
                                <th onclick="sortTable2(2)" style="cursor:pointer">Ejercicio</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Fecha</th>-->
                                <th onclick="sortTable2(3)" style="cursor:pointer">Monto</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Estatus</th>-->
                                <th onclick="sortTable2(4)" style="cursor:pointer">Abono</th>
                                <th onclick="sortTable2(5)" style="cursor:pointer">Referencia</th>
                                <!--<th onclick="sortTable2(0)" style="cursor:pointer" >Descripcion</th>

                                <th onclick="sortTable2(0)" style="cursor:pointer" >Folio_recibo</th>-->
                            </tr>
                        </thead>
                        <tbody id="body_tabla">
                            {% for ingreso in ingresos %}
                            <tr id='info'>
                                <td>{{ingreso.colono|default:''}}</td>
                                <td>
                                    {{ingreso.tipo|default:''}}
                                </td>
                                <td>{{ingreso.ejercicio|default:''}}</td>
                                <td>{{ingreso.monto|default:''}}</td>
                                <td>{{ingreso.abono|default:''}}</td>
                                <td>
                                    <a href="/{{ingreso.referencia|default:''}}">Referencia</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='myModalDeleteIngreso' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'> Confirmaci&oacute;n </h4>
            </div>
            <div class='modal-body'>
                Esta seguro de eliminar el elemento
            </div>
            <div class='modal-footer'>
                <button data-dismiss='modal' class='btn btn-danger btn-sm' type='button'>
                    No
                </button>
                <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-success btn_si_eliminar' type='button'>
                    Si
                </button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<!--<script src="/static/js/funciones/ingresoColono.js"></script>-->
<script type='text/javascript'>
</script>
{% endblock %}