{% extends 'base_colono2.html' %}
{% block titulo %}
{{ accion }} Sancion
{% endblock %}
{% block encabezado %}
{{ accion }} Sancion
{% endblock %}
{% block ruta %}
<a href="#">Sancion</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                Tabla
            </header>
            <div class='panel-body'>
                <table class='table'>
                    <th width="50%">
                        <h1>Sancions</h1>
                    </th>
                    <th>
                        <h4>Búsqueda</h4>
                        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
                    </th>
                </table>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <div class='table-responsive'>
                    <table id='tabla' class='class_tabla table table-striped table-bordered table-hover'>
                        <tr>
                            <th onclick="sortTable2(0)" style="cursor:pointer">Colono</th>
                            <th onclick="sortTable2(1)" style="cursor:pointer">Tipo</th>
                            <th onclick="sortTable2(2)" style="cursor:pointer">Fecha</th>
                            <th onclick="sortTable2(3)" style="cursor:pointer">Descripcion</th>
                            <th onclick="sortTable2(4)" style="cursor:pointer">Monto</th>
                        </tr>
                        {% for sancion in sancions %}
                        <tr id='info'>
                            <td>{{sancion.colono|default:''}}</td>
                            <td>{{sancion.tipo|default:''}}</td>
                            <td>{{sancion.fecha|default:''}}</td>
                            <td>{{sancion.descripcion|default:''}}</td>
                            <td>{{sancion.monto|default:''}}</td>
                            <td>
                                <a id='change-sancion' class="btn btn-info btn-sm" data-toggle="tooltip" title="Editar" onclick="cargarEdicionSancion({{ sancion.id }})">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a id='delete-sancion' href='#myModal2' onclick="cargarEliminacionSancion({{ sancion.id }})" class='btn btn-danger btn-sm' title="Eliminar" data-toggle='modal'>
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        <div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
                            <div class='modal-dialog'>
                                <div class='modal-content'>
                                    <div class='modal-header'>
                                        <h4 class='modal-title'> Confirmaci&oacute;n </h4>
                                    </div>
                                    <div class='modal-body'>
                                        Esta seguro de eliminar el elemento
                                    </div>
                                    <div class='modal-footer'>
                                        <button data-dismiss='modal' class='btn btn-secondary' type='button'>
                                            No
                                        </button>
                                        <button id="p" name="boton_si_eliminar" value="koko" data-dismiss='modal' class='btn btn-warning btn_si_eliminar' type='button'>
                                            Si
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>

</script>
<script src="/static/js/funciones/sancionColono.js"></script>
{% endblock %}