{% extends 'base_colono2.html' %}
{% block titulo %}
{{ accion }}Reservacion
{% endblock %}
{% block encabezado %}
{{ accion }}Reservacion
{% endblock %}
{% block ruta %}
<a href="#">Reservacion</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} Reservacion</h1>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Operación exitosa</strong>
                </div>
                <!--<nav class="navbar">
                                    <button id="btn_nuevo" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0" onclick="nuevo()">
                                        Nuevo
                                    </button>
                                </nav>class="collapse" id="div_formulario"-->
                <div>
                    <div>
                        <div id="alerta" class="alert alert-info">
                            <p>
                                Completa el formulario
                            </p>
                        </div>
                        <form id="form" method='POST' name="formulario">
                            {% csrf_token %}
                            <div class='row'>
                                {% for field in formulario %}
                                <div class="col-4">{{ field.label_tag }}</div>
                                <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                                {% endfor %}
                            </div>
                            <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="cancelar()">
                                <label>
                                    Cerrar
                                </label>
                            </button>
                            <button id="btn_guardar" class="btn btn-success" type="submit" aria-label="guardar" onclick="guardar()">
                                <label>Guardar</label>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7">
        <div class="panel">
            <div class="panel-heading">
                <h2>
                    <strong>
                        Calendario
                    </strong>
                </h2>
                <div class="panel-actions">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div><br><br><br>
            <div class="panel-body">
                <div id='calendarNuevo'>
                </div>
            </div>
        </div>
    </div>
</div>
<a id='boton_modal' data-toggle="modal" href="#myModal" style="visibility: hidden">
    Dialog
</a>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informacion de la reservacion</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class='table-responsive'>
                        <table class='table table-striped table-bordered table-hover' id='dataTables-example'>
                            <tr>
                                <th>
                                    <label>
                                    </label>
                                </th>
                                <th>
                                    <label>
                                    </label>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Area Comun
                                    </label>
                                </td>
                                <td>
                                    <label id="label_areaComun">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Tipo Evento
                                    </label>
                                </td>
                                <td>
                                    <label id="label_tipoEvento">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Fecha
                                    </label>
                                </td>
                                <td>
                                    <label id="label_fecha">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Hora Inicio
                                    </label>
                                </td>
                                <td>
                                    <label id="label_horaInicio">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Hora Fin
                                    </label>
                                </td>
                                <td>
                                    <label id="label_horaFin">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Observaciones
                                    </label>
                                </td>
                                <td>
                                    <label id="label_observaciones">
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id='btn_cerrar_vehiculo' data-dismiss="modal" class="btn btn-secondary" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/reservacionColono.js"></script>
{% load static %}
<!--1-->
<link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
<!--2-->
<link rel='stylesheet' type='text/css' href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.print.css' %}" media='print' />
<!--3-->
<!--4-->
<script type='text/javascript' src="{% static 'assets/fullcalendar/jquery/jquery-ui-1.8.23.custom.min.js' %}"></script>
<!--5-->
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<link href="{% static 'packages/core/main.css'%}" rel='stylesheet' />
<link href="{% static 'packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static '/packages/timegrid/main.css'%}" rel='stylesheet' />
<link href="{% static '/packages/list/main.css'%}" rel='stylesheet' />
<script src="{% static '/packages/core/main.js'%}"></script>
<script src="{% static '/packages/interaction/main.js'%}"></script>
<script src="{% static '/packages/daygrid/main.js'%}"></script>
<script src="{% static '/packages/timegrid/main.js'%}"></script>
<script src="{% static '/packages/list/main.js'%}"></script>
<script src="{% static '/packages/list/main.js'%}"></script>
<link href="{% static 'css/calendario.css'%}" rel='stylesheet' />
<script type='text/javascript'>
$(document).ready(
    function() {
        document.getElementById("id_fecha").type = "date";
        crearCalendario();
        $("#btn_nuevo").click();
    }
);
</script>
{% endblock %}