{% extends 'base_colono2.html' %}
{% block titulo %}
{{ accion }}Vehiculos
{% endblock %}
{% block encabezado %}
{{ accion }}Vehiculos
{% endblock %}
{% block ruta %}
<a href="#">Vehiculos</a>
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Formulario
            </header>
            <div class="panel-body">
                <h1>{{ accion }} Vehiculos</h1>
                <div id="alerta_exito" class="alerta_exito alert alert-success" role="alert" hidden="true">
                    <strong>Operación exitosa</strong>
                </div>
                <!--<nav class="navbar">
                                        <button id="btn_nuevo" class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#div_formulario" value="0" onclick="nuevo()">
                                            Nuevo
                                        </button>
                                    </nav> class="collapse" id="div_formulario"-->
                <div id="alerta" class="alert alert-info">
                    <p>
                        Completa el formulario
                    </p>
                </div>
                <form id="form" method='POST' name="formulario">
                    {% csrf_token %}
                    <div class='table-responsive'>
                        <table class='table table-striped table-bordered table-hover' id='dataTables-example'>
                            {% for field in formulario %}
                            <tr>
                                {% if field.name != 'id'%}
                                <th>{{ field.label_tag }}</th>
                                <th>{{ field }}</th>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            <tr>
                                <th><label for="id_vehiculo_0">Acceso de la visita:</label></th>
                                <th>
                                    <label for="id_vehiculo_0"> Vehicular
                                    </label>
                                    <input type="radio" name="vehiculo" value="1" id="id_vehiculo_0" required>
                                    <br>
                                    <label for="id_vehiculo_1"> Peatonal
                                    </label>
                                    <input type="radio" name="vehiculo" value="0" id="id_vehiculo_1" required>
                                </th>
                            </tr>
                        </table>
                    </div>
                </form>
                <button id="btn_cancelar" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#div_formulario" onclick="cancelar()">
                    Cerrar
                </button>
                <button id="btn_guardar" class="btn btn-success" aria-label="guardar" onclick="guardar()">
                    <label>Guardar</label>
                </button>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h2>
                        <strong>
                            Calendario
                        </strong>
                    </h2>
                    <div class="panel-actions">
                        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div><br><br><br>
                <div class="panel-body">
                    <div id='calendarNuevo'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-success" data-toggle="modal" href="#myModal">
        Dialog
    </a>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Tittle</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div>
                            <div id="alerta" class="alert alert-info">
                                <p>
                                    Completa el formulario
                                </p>
                            </div>
                        </div>
                        <form id="form" method='POST' name="formulario">
                            {% csrf_token %}
                            <div class='row'>
                                {% for field in formulario %}
                                <div class="col-4">{{ field.label_tag }}</div>
                                <div class="col-8 text-left">{{ field }}</div>
                        <div class="col-12"><hr class="pm-1"></div>
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="button">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<form name="formulario_temp" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" id="id_provicional">
</form>
{% endblock %}
{% block scripts %}
<script src="/static/js/funciones/visitaColono.js"></script>
<script type='text/javascript'>

</script>
{% load static %}
<!--1-->
<link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
<!--2-->
<link rel='stylesheet' type='text/css' href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.print.css' %}" media='print' />
<!--3-->
<!--4-->
<script type='text/javascript' src="{% static 'assets/fullcalendar/jquery/jquery-ui-1.8.23.custom.min.js' %}"></script>
<!--5-->
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<link href="{% static 'packages/core/main.css'%}" rel='stylesheet' />
<link href="{% static 'packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static '/packages/timegrid/main.css'%}" rel='stylesheet' />
<link href="{% static '/packages/list/main.css'%}" rel='stylesheet' />
<script src="{% static '/packages/core/main.js'%}"></script>
<script src="{% static '/packages/interaction/main.js'%}"></script>
<script src="{% static '/packages/daygrid/main.js'%}"></script>
<script src="{% static '/packages/timegrid/main.js'%}"></script>
<script src="{% static '/packages/list/main.js'%}"></script>
<script src="{% static '/packages/list/main.js'%}"></script>
<link href="{% static 'css/calendario.css'%}" rel='stylesheet' />
{% endblock %}